# Django
__pycache__/
*.py[cod]
*$py.class
.env
venv/
static/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Terraform
infra/.terraform
infra/.terraform.tfstate.lock.info
infra/terraform.tfstate*
infra/terraform.tfplan
infra/production.tfvars

# Uploads from dev
main/static/main/uploads/*
.vscode/
