body{
	padding-top: 100px;
}

a.click {
	display: block;
}

.panel-default {
    border-color: #F9D94F;
}

.panel-default .panel-heading{
	background-color: black !important;
	color: white;
	background-image: url("http://www.okthess.gr/dev/img/jump.png");
}
.panel-title{
		padding: 5 0 5 0px;
		font-size: 18px;
		font-weight: 700;
}

.panel-body{
	background-color: white;
	padding-top: 15px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-left: 25px;
	font-size: 16px;
}
