html{
	position: relative;
  min-height: 100%;
}
body {
	font-family: 'Roboto', Arial, Tahoma;
	font-weight: 300;
	font-size: 18px;
	color: black;
	background-color: #fafafa;
	margin-bottom: 500px;
	padding-bottom: 60px;
}
a {
	text-decoration: none !important;
}
.text-extra-light {
  font-weight: 100 !important;
}
.navbar {
	z-index: +10;
	position: fixed;
	top: 0px;
	min-width: 100%;
	height: auto;
	background: white;
	font-size: 15px;
	font-weight: 300;
	-webkit-border: 0;
	-moz-border: 0;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
  border-bottom: 3px solid #231F20 !important;
}
@media (max-width: 991px) {
	.navbar {
		font-size: 14px;
	}
}
.navbar-brand {
  padding: 1px;
}
.navbar-brand >img {
  height: inherit;
  width: inherit;
	padding-left: 15px;
}
.navbar-default .navbar-nav li {
	padding: 10 0 10 0px;
	margin-left: 2px;
}
.navbar-default .navbar-nav li:hover {
	color:white;
	background-color: #F9D94F;
}
.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default .navbar-nav > .active > a {
  color: black;
	background-color: #F9D94F;
}
.navbar-default .navbar-nav > .active > a:hover {
  color: black;
  background-color: #F9D94F;
}
.navbar-default .navbar-nav > .active > a:focus {
  color: black;
  background-color: #F9D94F;
}
.dropdown-menu {
	background-color: white !important;
}
.dropdown-menu > li > a {
	margin-top: 1px;
  padding: 3px 10px;
  color: black;
	font-weight: 200;
	font-size: 14px;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover {
	color: black;
	background-color: #F9D94F;
}
.navbar-default .navbar-nav >.open > a{
	color: black;
  background-color: #F9D94F;
}
.navbar-default .navbar-nav > .open > a:focus{
	color: black;
  background-color: white;
}
.navbar-default .navbar-nav > .open > a:hover{
	color: black;
	background-color: #F9D94F;
}
#beta {
	position: absolute;
	top: 58.5px;
	left: 32px;
	background-color: #F9D94F;
	padding: 3px;
	border-radius: 5px;
}
.jumbotron {
	background: black;

	background-image: url("http://www.okthess.gr/img/jump.png"), linear-gradient(to right, black 0%,white 100%);
	background-position: top left;
	background-size: cover;
	color: white;
	border-bottom: 3px solid #231F20;
	padding-top: 90px;
	margin-bottom: 20px;
}
h1{
	font-weight: 500;
}
.jumbotron p{
	font-weight: 300 !important;
}
#land{
	background-attachment: fixed;
	background-position: top left;
	margin-left: 7px !important;
}
.btn-primary {
	color: white;
	background-color: black;
}
.btn-primary: hover {
	background-color: #FFA500;
}
.btn-secondary{
	color: black;
	opacity: 0.7;
	background-color: #e9e9e9;
	border: 1px solid #EE4031;
}
.btn-secondary: hover {
	background: #FFA500;
}
.site-footer {
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 500px;
	background-color: white;
	border-top: 3px solid #F9D94F;
}
#social{
	margin-left: 20px;
	margin-bottom: 2px;
}
#social img{
	height: 50px !important;
	margin-right: 0px;
	width: auto;
	border-radius: 3px;
	margin-top: -29px;
	margin-bottom: 25px;
}
@media(max-width:991px){
	#social img{
		height: 30px !important;
		margin-top: -32px;
		margin-bottom: 10px;
	}
}
@media(max-width:300px){
	#social img{
		height: 25px !important;
		margin-top: -32px;
		margin-bottom: 5px;
	}
}
h5{
  margin-top: 13px;
	margin-bottom: 2px;
	font-weight: 400;
}
hr{
	margin-top: 4px;
	margin-bottom: 5px;
	color: black;
}
@media(max-width:768px){
hr{
	margin-top: 0px;
	margin-bottom: 1px;
	}
}
#map-outer {
	border: 2px solid #F9D94F;
	border-radius: 3px;
	width: 100%;
}
#map-container {
	height: 250px;
	color: black;
}
@media(max-width:768px){
	#map-container {
		height: 100px;
	}
}
#map-container img {
		height: 100% !important;
}
.site-footer img{
	height: 70px !important;
	width: auto;
	margin-right: 4px;
	margin-bottom: 50px;
}
@media(min-width: 992px) and (max-width:1200px){
	.site-footer img{
		height: 60px !important;
		margin-bottom: 30px;
	}
}
@media(min-width: 769px) and (max-width:991px){
	.site-footer img{
		height: 55px !important;
		margin-bottom: 20px !important;
	}
}
@media(max-width:768px){
	.site-footer img{
		height: 40px !important;
		margin-bottom: 4px;
	}
}
#copy {
	display: inline;
	position: absolute;
	right: 10px;
	bottom: -7px !important;
	font-size: 10px;
	color: green;
}
#copy> a {
	color: green;
}
