html  {
	position: relative;
	min-height: 100%;
}

body{
	font-family: 'Roboto', Arial, Tahoma;
	font-weight: 300;
	font-size: 16px;
	color: black;
	margin-bottom: 500px;
	padding-bottom: 60px;
}

p {
	line-height: 1.58;
  letter-spacing: -.003em;
	outline: 0;
  word-break: break-word;
  word-wrap: break-word;
}

h1{
	margin-top: 0px;
	margin-left: -3px;
	letter-spacing: .005em;
	font-size: 26px;
	font-weight: 700;
	color: white;
	background: #231F20;
	background: -webkit-gradient(linear, left top, left bottom, from(#231F20), to(#231F20));
	background: -webkit-linear-gradient(top, #231F20, #231F20);
	background: -moz-linear-gradient(top, #231F20, #231F20);
	background: -ms-linear-gradient(top, #231F20, #231F20);
	background: -o-linear-gradient(top, #231F20, #231F20);
	background-image: -ms-linear-gradient(top, #231F20 0%, #231F20 100%);
	padding: 10px 20px;
	display: inline-block;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
}

h2{
	font-size: 22px;
	font-weight: 500;
}

h3{
	font-size: 22px;
	font-weight: 500;
}

.navbar {
	font-weight: 100;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	-webkit-border: 0;
	-moz-border: 0;
	border: 0;
 }

	.navbar-default{
		background: #ffffff;
		padding-top: 20px;
	}

	.navbar-brand {
		padding: 0 0px;
	}

	.navbar-brand >img {
	  height: inherit;
	}

	.navbar-default .navbar-nav li#yell:hover {
		background-color: #F9D94F;
	}

	.navbar-default .navbar-nav li#blue:hover{
		background-color: #1C599B;
	}

	.navbar-default .navbar-nav li#blue> a:hover{
		color: white;
	}

	.navbar-default .navbar-nav > li > a {
	  color: black;
	}
	.navbar-default .navbar-nav > .active > a {
	  color: black;
		background-color: #F9D94F;
	}
	.navbar-default .navbar-nav > .active > a:hover {
	  color: black;
	  background-color: #F9D94F;
	}
	.navbar-default .navbar-nav > .active > a:focus {
	  color: black;
	  background-color: #F9D94F;
	}
	.dropdown-menu > li > a {
		margin-top: 1px;
	  padding: 3px 10px;
	  color: black;
		font-weight: 200;
		font-size: 14px;
	  white-space: nowrap;
	}
	.dropdown-menu > li > a:hover {
		background-color: #F9D94F;
	}

	.navbar-default .navbar-nav >.open > a{
	  background-color: #F9D94F;
	}
	.navbar-default .navbar-nav > .open > a:focus{
	  background-color: white;
	}
	.navbar-default .navbar-nav > .open > a:hover{
		background-color: #F9D94F;
	}

	.glyphicon {
    font-size: 12px;
		margin-right: 4px;
	}

#call {
	color: black;
	background: #EE4031;
	background: -webkit-gradient(linear, left top, left bottom, from(#EE4031), to(#EE4031));
	background: -webkit-linear-gradient(top, #EE4031, #EE4031);
	background: -moz-linear-gradient(top, #EE4031, #EE4031);
	background: -ms-linear-gradient(top, #EE4031, #EE4031);
	background: -o-linear-gradient(top, #EE4031, #EE4031);
	background-image: -ms-linear-gradient(top, #EE4031 0%, #EE4031 100%);
	padding: 5px 15px;
	margin-left: 20px;
	display: inline-block;
	margin-top: 10px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;
}

.land {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

#desc {
	margin-top: 5%;
	font-size: 17px;
	width: 80%;
	line-height: 1.72;
}

.mySlides img{
	width: 100%;
	min-height: 100%;
	max-height: 100%;
}

input{
	margin-top: 7px;
	width: 70%;
	line-height: 1.72rem;
	font-size: 12px;
}

.blog{
	margin-top: 3%;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

#bluebi {
	color: white;
	background: #1C599B;
	background: -webkit-gradient(linear, left top, left bottom, from(#1C599B), to(#1C599B));
	background: -webkit-linear-gradient(top, #1C599B, #1C599B);
	background: -moz-linear-gradient(top, #1C599B, #1C599B);
	background: -ms-linear-gradient(top, #1C599B, #1C599B);
	background: -o-linear-gradient(top, #1C599B, #1C599B);
	background-image: -ms-linear-gradient(top, #1C599B 0%, #1C599B 100%);
	padding: 5px 15px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;
}

#blu > #call{
	color: white;
	margin-left: 20px;
}

#yellowcall {
	color: black;
	display: inline-block;
	background: #F9D94F;
	background: -webkit-gradient(linear, left top, left bottom, from(#F9D94F), to(#F9D94F));
	background: -webkit-linear-gradient(top, #F9D94F, #F9D94F);
	background: -moz-linear-gradient(top, #F9D94F, #F9D94F);
	background: -ms-linear-gradient(top, #F9D94F, #F9D94F);
	background: -o-linear-gradient(top, #F9D94F, #F9D94F);
	background-image: -ms-linear-gradient(top, #F9D94F 0%, #1C599B 100%);
	padding: 3px 13px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	font-size: 12px;
	font-weight: 300;
	text-decoration: none;
}

#yellowcall:hover {
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#fbe480), to(#f7ce1e));
   background: -webkit-linear-gradient(top, #fbe480, #f7ce1e);
   background: -moz-linear-gradient(top, #fbe480, #f7ce1e);
   background: -ms-linear-gradient(top, #fbe480, #f7ce1e);
   background: -o-linear-gradient(top, #fbe480, #f7ce1e);
   background-image: -ms-linear-gradient(top, #fbe480 0%, #f7ce1e 100%);
   color: #fff;
   }

	 #black {
	 	color: white;
	 	background: #231F20;
	 	background: -webkit-gradient(linear, left top, left bottom, from(#231F20), to(#231F20));
	 	background: -webkit-linear-gradient(top, #231F20, #231F20);
	 	background: -moz-linear-gradient(top, #231F20, #231F20);
	 	background: -ms-linear-gradient(top, #231F20, #231F20);
	 	background: -o-linear-gradient(top, #231F20, #231F20);
	 	background-image: -ms-linear-gradient(top, #231F20 0%, #231F20 100%);
	 	padding: 10px 20px;
		display: inline-block;
	 	-webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	 	-moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	 	box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	 	font-size: 16px;
	 	font-weight: 300;
	 	margin-bottom: 50px;
	 }

.btn {
   border: 1px solid #231f20;
   background: #1c599b;
   background: -webkit-gradient(linear, left top, left bottom, from(#1c599b), to(#1c599b));
   background: -webkit-linear-gradient(top, #1c599b, #1c599b);
   background: -moz-linear-gradient(top, #1c599b, #1c599b);
   background: -ms-linear-gradient(top, #1c599b, #1c599b);
   background: -o-linear-gradient(top, #1c599b, #1c599b);
   background-image: -ms-linear-gradient(top, #1c599b 0%, #1c599b 100%);
   padding: 10.5px 16px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #231f20 0 1px 0;
   color: #ffffff;
   font-size: 14px;
	 font-weight: 500;
   text-decoration: none;
   vertical-align: middle;
   }
.btn:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.btn:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }

.event {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	padding: 3 0%;
}

.eventName {
	font-size: 20px;
	font-weight: 700 !important;
	margin: 0 auto !important;
	display: inline;
}

.eventDate {
	color: grey;
	font-weight: 300;
	font-size: 12px;
	margin-top: 5px;
}

.eventDesc {
	width: 80%;
	margin: 0 auto;
	font-weight: 300;
	font-size: 14px;
}


.site-footer {
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 500px;
	background-color: white;
	border-top: 3px solid #F9D94F;
}
#social {
	margin-left: 20px;
	margin-bottom: 2px;
}
#social img {
	height: 50px !important;
	margin-right: 0px;
	width: auto;
	border-radius: 3px;
	margin-top: -29px;
	margin-bottom: 25px;
}
@media(max-width:991px){
	#social img{
		height: 30px !important;
		margin-top: -32px;
		margin-bottom: 10px;
	}
}
@media(max-width:300px){
	#social img{
		height: 25px !important;
		margin-top: -32px;
		margin-bottom: 5px;
	}
}
h5 {
  margin-top: 13px;
	margin-bottom: 2px;
	font-weight: 400;
}
.site-footer > hr {
	margin-top: 4px;
	margin-bottom: 5px;
	color: black;
}
@media(max-width:768px){
 hr{
	margin-top: 0px;
	margin-bottom: 1px;
	}
}
#map-outer {
	border: 2px solid #F9D94F;
	border-radius: 3px;
	width: 100%;
}
#map-container {
	height: 250px;
	color: black;
}
@media(max-width:768px){
	#map-container {
		height: 100px;
	}
}
#map-container img {
		height: 100% !important;
}
.site-footer img{
	height: 70px !important;
	width: auto;
	margin-right: 4px;
	margin-bottom: 50px;
}
@media(min-width: 992px) and (max-width:1200px){
	.site-footer img{
		height: 60px !important;
		margin-bottom: 30px;
	}
}
@media(min-width: 769px) and (max-width:991px){
	.site-footer img{
		height: 55px !important;
		margin-bottom: 20px !important;
	}
}
@media(max-width:768px){
	.site-footer img{
		height: 40px !important;
		margin-bottom: 4px;
	}
}
#copy {
	display: inline;
	position: absolute;
	right: 10px;
	bottom: -7px !important;
	font-size: 10px;
	color: green;
}
#copy > a {
	color: green;
}


/* Teams */
#teams {
	background: url(http://okthess.gr/dev/img/call.jpg);
	background-position: top left;
	background-size: cover;
	height: 50vh;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}
.card {
  float: left;
  width: 33.333%;
  padding: 2px;
  margin-bottom: 7px;
  border: 0;
}
.card > a > img {
  text-align: center;
  max-width: 100%;
  height: auto;
  margin-bottom: .75rem;
}
.card-text {
  font-size: 85%;
}

/* News */
.blog-post {
  margin-bottom: 3%;
	display: inline-block;
}

.blog-post-image {
	margin-top: 10px;
	max-width: 100%;
 }

.blog-post-teaser > p {
	font-size: 14px;
	margin-bottom: 1%;
}

.blog-post-title {
 font-weight: 500;
 margin-bottom: 1%;
}

h6.blog-post-meta {
 font-size: 12px;
 margin: 2% 0%;
 font-weight: 300;
}

/* About */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 0px;
	margin: 0px;
}

.sidebar-module-inset {
  padding: 0px;
	max-height: 300px;
  background-color: #f5f5f5;
  border-radius: 4px;
	overflow-y: scroll;
}

.sidebar-module.sidebar-module-inset ul {
	list-style:armenian;
	padding-left: 5px;
}

.sidebar-module.sidebar-module-inset ul li {
	padding: 5px 5px;
}


.sidebar-module.sidebar-module-inset ul li a {
  font-size: 13px !important;
	text-decoration: none;
	color: grey;
	font-weight: 500;
}

.sidebar-module-inset p:last-child, .sidebar-module-inset ul:last-child, .sidebar-module-inset ol:last-child {
	margin-bottom: 0;
}

section {
  zoom: 1;
  position: relative;
  height: auto;
}
section:after,
section:before {
  content: "";
  display: table;
}
section:after {
  clear: both;
}
section h4 {
  background: rgba(0,0,0,0.1);
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.2);
  border-top: none;
  padding: 15px 20px;
}
section h4:first-child {
  border-top: 1px solid rgba(0,0,0,0.2);
}
@media screen and (min-width: 600px) {
  section h4 {
    position: relative;
    width: 33.333333333333336%;
    height: 20%;
    display: block;
  }
}
section ul {
  zoom: 1;
  position: relative;
  height: auto;
  min-height: 100%;
  border: 1px solid rgba(0,0,0,0.2);
  border-left: none;
  display: none;
}
section ul:after,
section ul:before {
  content: "";
  display: table;
}
section ul:after {
  clear: both;
}
section ul li {
  list-style: circle;
}
@media screen and (min-width: 600px) {
  section ul {
    position: absolute;
    width: 66.66666666666667%;
    right: 0;
    top: 0;
    padding: 15px 30px;
  }
}
section .active {
  cursor: default;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-right: none;
}
@media screen and (min-width: 600px) {
  section .active {
    background: rgba(0,0,0,0);
    border-right: 1px solid rgba(0,0,0,0);
  }
}
section .active + ul {
  display: block;
}
