html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  background-color: #fafafa;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
  font-size: 15px;
  color: #000;
}

.navbar-nav > li:hover,
.navbar-nav > li:focus {
  background: #f9d94f;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background: #f9d94f;
}

.dropdown-menu > li > a:hover {
  background: #f9d94f;
}

.navbar-brand {
  padding-top: 8px;
  padding-bottom: 0;
}

.navbar-brand > img {
  height: 35px;
}

.jumbotron {
  background: url('/static/main/img/background.png');
  background-position: top left;
  background-size: cover;
  box-shadow: inset 0 0 300px 20px rgba(0, 0, 0, 0.1);
  /* box-shadow: inset 0 0 200px -40px rgba(0, 0, 0, 0.75);  */
  color: #fff;
}

.btn-cta {
  color: #fff;
  border: 1px solid #fff;
}

.btn-cta:hover {
  background: #fff;
}

.btn-secondary {
  color: #000;
  opacity: 0.7;
  background-color: #e9e9e9;
  border: 1px solid #ee4031;
}

.marketing {
  padding-bottom: 40px;
}

.marketing-item {
  padding-left: 50px;
  padding-right: 50px;
}

.panel-title > a {
  font-size: 24px;
}

.teams-item {
  text-align: center;
  margin-bottom: 60px;
}

.teams-item-img {
  height: 160px;
  margin-bottom: 20px;
}

.teams-item-text {
  font-size: 15px;
  color: #777;
}

footer {
  background: #fff;
  margin-top: 50px;
}

.footer-content-map {
  width: 100%;
}

#footer-content-map-content {
  height: 250px;
}

.social {
  border-top: 3px solid #f9d94f;
  padding-top: 9px;
  padding-left: 60px;
}

.social-item {
  position: relative;
  top: -40px;
}

.footer-content {
  padding-left: 10px;
  padding-right: 10px;
}

.footer-content-item {
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.footer-content-item-img {
  height: 70px;
  margin-right: 4px;
  margin-bottom: 50px;
}

.footer-content-love {
  text-align: right;
  font-size: 10px;
  color: #2ecc40;
}
