{% extends 'main/layout.html' %}

{% load static %}
{% load i18n %}

{% block title %}About OK!Thess{% endblock %}

{% block content %}
    <div class="container-fluid about">
        <div class="row">
            <div class="col-md-9">
                <div class="about-accordion">
                    <button class="accordion" id="what">{% trans 'What we do' %}</button>
                     <div class="panel">
                        <div class="panel-inner">
                            {{ about_texts.what_text|safe }}
                        </div>
                    </div>
                    <button class="accordion" id="how">{% trans 'How we do it' %}</button>
                     <div class="panel">
                        <div class="panel-inner">
                            {{ about_texts.how_text|safe }}
                        </div>
                    </div>
                    <button class="accordion" id="participate">{% trans 'How I can participate' %}</button>
                     <div class="panel">
                        <div class="panel-inner">
                            {{ about_texts.participate_text|safe }}
                        </div>
                    </div>
                    <button class="accordion" id="space">{% trans 'Space' %}</button>
                     <div class="panel">
                        <div class="panel-inner">
                            {{ about_texts.coworking_text|safe }}
                        </div>
                    </div>
                    <button class="accordion" id="team">{% trans 'OK!Thess team' %}</button>
                     <div class="panel">
                        <div class="panel-inner">
                          <div class="row">
                              {% for partner in partners_list %}
                                  <div class="col-md-4">
                                      <div class="program-main-mentor">
                                        <img src="{{ partner.image }}" class="program-main-mentor-image" alt="partner image">
                                          <div class="program-main-mentor-name">
                                            <div>{{ partner.name }}</div>
                                          </div>
                                          <div>{{ partner.title }}</div>
                                          <p>{{ partner.description }}</p>
                                      </div>
                                  </div>
                              {% endfor %}
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              <h3>{% trans 'Official Docs<small> - GR</small>' %}</h3>
              <div class="sidebar-module sidebar-module-inset sidebar-meetups">
                <ul>
                    <li><a href="{% static '/main/files/arxiki-geniki-idea.pdf' %}">{% trans 'Concept' %}</a></li>
                    <li><a href="{% static '/main/files/mnimonio-sunergasias.pdf' %}">{% trans 'Memorandum' %}</a></li>
                    <li><a href="{% static '/main/files/kanonismos-leitourgias.pdf' %}">{% trans 'Regulation' %}</a></li>
                </ul>
              </div>
            </div>
        </div>
    </div>
    <script>
        var accordionElems = document.getElementsByClassName('accordion');
        var i = 0;
        for (i = 0; i < accordionElems.length; i++) {
            accordionElems[i].onclick = function () {
                this.classList.toggle('active');
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + 'px';
                }
            }
        }

        function openPanel() {
            var elemId = document.location.hash.slice(1);
            var hashElem = document.getElementById(elemId);
            hashElem.click();
        }
        window.addEventListener('hashchange', openPanel, false);
        openPanel();
    </script>
{% endblock %}
