{% extends 'main/layout.html' %}

{% load static %}
{% load i18n %}

{% block title %}About OK!Thess{% endblock %}

{% block content %}
    <div class="container-fluid about">
        <div class="row">
            <div class="col-md-9">
                <div class="about-accordion">
                    <button class="accordion" id="what">{% trans 'What we do' %}</button>
                    <div class="panel">
                        <div class="panel-inner">
                            {{ about_texts.what_text|safe }}
                        </div>
                    </div>
                    <button class="accordion" id="how">{% trans 'How we do it' %}</button>
                    <div class="panel">
                        <div class="panel-inner">
                            {{ about_texts.how_text|safe }}
                        </div>
                    </div>
                    <button class="accordion" id="participate">{% trans 'How I can participate' %}</button>
                    <div class="panel">
                        <div class="panel-inner">
                            {{ about_texts.participate_text|safe }}
                        </div>
                    </div>
                    <button class="accordion" id="coworking">{% trans 'Coworking space' %}</button>
                    <div class="panel">
                        <div class="panel-inner">
                            {{ about_texts.coworking_text|safe }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="about-sidebar">
                    <h3>{% trans 'About' %}</h3>
                    <div>
                        {% trans 'about page sidebar' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var accordionElems = document.getElementsByClassName('accordion');
        var i = 0;
        for (i = 0; i < accordionElems.length; i++) {
            accordionElems[i].onclick = function () {
                this.classList.toggle('active');
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + 'px';
                }
            }
        }

        function openPanel() {
            var elemId = document.location.hash.slice(1);
            var hashElem = document.getElementById(elemId);
            hashElem.click();
        }
        window.addEventListener('hashchange', openPanel, false);
        openPanel();
    </script>
{% endblock %}
