{% extends 'main/layout.html' %}

{% load static %}
{% load i18n %}

{% block title %}Apply at OK!Thess{% endblock %}

{% block content %}
    <section class="container apply">
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                    <p class="alert alert-success">
                        {% for message in messages %}
                            {{ message }}
                            <br>
                        {% endfor %}
                    </p>
                {% endif %}
                <p>{{ application_content|safe }}</p>
                <br>
                <!--<a class="btn-apply" href="http://dev.okthess.gr/static/main/files/kanonismos-leitourgias.pdf" target="_blank">{% trans 'Information - GR' %}</a><a class="btn-apply" href="http://dev.okthess.gr/static/main/files/kanonismos-leitourgias.pdf" target="_blank">{% trans '<nobr>Internal Regulation</nobr>' %}</a>-->
                <br>
                <br>
                <h2>{% trans 'Application form' %}</h2>
                <br>
                <form action="{% url 'main:apply' %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <h4>{% trans 'Idea' %}</h4>
                    <div class="form-group">
                        <label for="id_answer_idea_1">
                            {% trans 'Please provide your project/company/team name and web address (if available).' %}
                        </label>
                        <textarea name="answer_idea_1" cols="50" rows="2" class="form-control" required="required" id="id_answer_idea_1"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_answer_idea_2">
                            {% trans 'Please describe your concept with a one-sentence pitch, as follows: "We develop _(a defined offering)_ to help _(a defined audience)_ _(solve a problem)_ with _(secret sauce)_".' %}
                        </label>
                        <textarea name="answer_idea_2" cols="50" rows="2" class="form-control" required="required" id="id_answer_idea_2"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_answer_idea_3">
                            {% trans 'What stage are you at right now?' %}
                        </label>
                        <br>
                        <select name="answer_idea_3" id="id_answer_idea_3" required="required">
                            <option value="idea">Idea</option>
                            <option value="idea">Idea under development</option>
                            <option value="prototype">Prototype</option>
                            <option value="users">Early users</option>
                            <option value="revenue">Early revenue</option>
                        </select>
                    </div>
                    <br>
                    <h4>{% trans 'Market' %}</h4>
                    <div class="form-group">
                        <label for="id_answer_market_1">
                            {% trans 'Who are your target customers? Briefly describe a typical person who would buy your product/service.' %}
                        </label>
                        <textarea name="answer_market_1" cols="50" rows="2" class="form-control" required="required" id="id_answer_market_1"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_answer_market_2">
                            {% trans 'What problem or challenge does your product/service solve for such customers?' %}
                        </label>
                        <textarea name="answer_market_2" cols="50" rows="2" class="form-control" required="required" id="id_answer_market_2"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_answer_market_3">
                            {% trans 'Can you name two or three of your closest competitors, if any exist? Please provide links to their websites.' %}
                        </label>
                        <textarea name="answer_market_3" cols="50" rows="4" class="form-control" required="required" id="id_answer_market_4"></textarea>
                    </div>
                    <br>
                    <h4>{% trans 'Team' %}</h4>
                    <div class="form-group">
                        <label for="id_answer_team_1">
                            {% trans 'What is your team composition and roles? For every team member please give us: 1) name; 2) description of role in the team; 3) full-time or part-time involvement status; 4) relevant professional experience or educational background; 5) links to online profiles if available.' %}
                        </label>
                        <textarea name="answer_team_1" cols="50" rows="6" class="form-control" required="required" id="id_answer_team_2"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_answer_team_2">
                            {% trans 'Why did the team start working on this idea? What excites you about it?' %}
                        </label>
                        <textarea name="answer_team_2" cols="50" rows="2" class="form-control" required="required" id="id_answer_team_5"></textarea>
                    </div>
                    <br>
                    <h4>{% trans 'Support' %}</h4>
                    <div class="form-group">
                        <label for="id_answer_support_1">
                            {% trans 'What are you hoping to get out of the OK!Thess pre-incubation program? What do you need most help with right now?' %}
                        </label>
                        <textarea name="answer_support_1" cols="50" rows="2" class="form-control" required="required" id="id_answer_support_1"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_answer_support_2">
                            {% trans 'Have you been through an accelerator or similar program before?' %}
                        </label>
                        <textarea name="answer_support_2" cols="50" rows="2" class="form-control" required="required" id="id_answer_support_2"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_answer_support_3">
                            {% trans 'If accepted, can all founders attend the entirety of the program in person (bootcamp weekend, masterclasses, coaching sessions)? In case any of the founders are not able to be fully committed, please elaborate here.' %}
                        </label>
                        <textarea name="answer_support_3" cols="50" rows="2" class="form-control" required="required" id="id_answer_support_3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_answer_support_4">
                            {% trans 'If accepted, how many of your team members would make use of the co-working space at OK!Thess on a daily or weekly basis?' %}
                        </label>
                        <textarea name="answer_support_4" cols="50" rows="2" class="form-control" required="required" id="id_answer_support_4"></textarea>
                    </div>
                    <br>
                    <h4>{% trans 'Contact info' %}</h4>
                    <div class="form-group">
                        <label for="id_name">
                            {% trans 'Team representative name' %}
                        </label>
                        <input type="text" name="name" class="form-control" maxlength="100" required="required" id="id_name">
                    </div>
                    <div class="form-group">
                        <label for="id_phonenumber">
                            {% trans 'Team representative phone number' %}
                        </label>
                        <input type="text" name="phonenumber" class="form-control" maxlength="100" required="required" id="id_phonenumber">
                    </div>
                    <div class="form-group">
                        <label for="id_email">
                            {% trans 'Team representative email' %}
                        </label>
                        <input type="email" name="email" class="form-control" maxlength="254" required="required" id="id_email">
                    </div>
                    <button type="submit" onClick="fbq('track', 'CompleteRegistration');" class="btn-form">{% trans 'Submit' %}</button>
                    <script>
                        function onClick() {
                        fbq('track', 'CompleteRegistration');
                        };
                    </script>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
