{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Apply at OK!Thess{% endblock %}

{% block content %}
    <section class="container apply">
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                    <p class="alert alert-success">
                        {% for message in messages %}
                            {{ message }}
                            <br>
                        {% endfor %}
                    </p>
                {% endif %}
{% blocktrans %}<p>
We accept <strong>proposals</strong> etc
</p>
<p>
Currently <strong>13 Sep</strong> 2017.
</p>
<p>
Read this <a href="http://okthess.gr/pdf/website-open-call.pdf" target="_blank">open call</a> and send it to apply@okthess.gr.
</p>
{% endblocktrans %}
                <h3>{% trans 'Application form' %}</h3>
                <form action="{% url 'main:apply' %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn-form">{% trans 'Submit' %}</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
