{% extends 'main/layout.html' %}

{% load static %}
{% load i18n %}

{% block title %}The OK!Thess blog{% endblock %}

{% block content %}
    <div class="container blog">
        <div class="row">
            <div class="col-md-8">
              <h1 class="blue">{% trans 'News' %}</h1>
                {% for post in posts_list %}
                    <div class="blog-post">
                        <div class="col-md-3">
                            <img class="blog-post-image" src="{{ post.image }}">
                        </div>
                        <div class="col-md-9">
                            <div class="blog-post-teaser">
                                <h4 class="blog-post-title">{{ post.title }}</h4>
                                <h6 class="blog-post-meta text-muted">{% trans 'Posted' %} {{ post.date }}</h6>
                                <p>{{ post.teaser }}</p>
                                <a class="btn-yellow" href="{% url 'main:blog_post' post.slug %}" role="button">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>{% trans '<strong>Read</strong> more »' %}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h3 class="blue">{% trans 'Resources' %}</h3>
                <div class="sidebar-module sidebar-module-inset">
                    <ul>
                        {% for resource in resources_list %}
                            <li><a href="{{ resource.url }}" target="_blank">{{ resource.title }} <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                        {% endfor %}
                        <li><a href="{% url 'main:resources' %}"><strong>See all resources</strong> <i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    </ul>
                </div>
                <div class="sidebar-module">
                    <h3 class="blue">{% trans 'Archives' %}</h3>
                    <ol class="list-unstyled">
                        {% for entry in archives_list %}
                            <li><a href="{% url 'main:blog_archives' entry.year entry.month %}">{{ entry|date:"F Y" }}</a></li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
