{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
<div class="container land">
  <div class="row">
    <div class="col-md-9">
      <div class="blog-post">
        <div class="col-md-5">
         <img class="blog-post-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDrcA7QXTjbPBNiVLeS6QRmBDyN4rlV4yYM7soUjYmKM-peuMWug">
        </div>
        <div class="col-md-7">
         <div class="blog-post-teaser">
          <h4 class="blog-post-title">BMC Workshop<small>(12 Ιανουαρίου 2017)</small></h4>
            <h6 class="blog-post-meta text-muted">Αναρτήθηκε: 4 Ιανουαρίου 2017</h6>
            <p>Ο ρόλος και η χρησιμότητα του Business Model Canvas στην εξέλιξη μιας startup από επιχειρηματική ιδέα σε βιώσιμη επιχείρηση. </p>
            <a id="yellowcall" href="http://localhost:8000/blog/sample-post/" role="button"><span class="glyphicon glyphicon-exclamation-sign"></span><strong>Read</strong> more »</a>
         </div>
       </div>
      </div>
      <div class="blog-post">
        <div class="col-md-5">
         <img class="blog-post-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDrcA7QXTjbPBNiVLeS6QRmBDyN4rlV4yYM7soUjYmKM-peuMWug">
        </div>
        <div class="col-md-7">
         <div class="blog-post-teaser">
          <h4 class="blog-post-title">BMC Workshop<small>(12 Ιανουαρίου 2017)</small></h4>
            <h6 class="blog-post-meta text-muted">Αναρτήθηκε: 4 Ιανουαρίου 2017</h6>
            <p>Ο ρόλος και η χρησιμότητα του Business Model Canvas στην εξέλιξη μιας startup από επιχειρηματική ιδέα σε βιώσιμη επιχείρηση. </p>
            <a id="yellowcall" href="http://localhost:8000/blog/sample-post/" role="button"><span class="glyphicon glyphicon-exclamation-sign"></span><strong>Read</strong> more »</a>
         </div>
       </div>
      </div>
      <div class="blog-post">
        <div class="col-md-5">
         <img class="blog-post-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDrcA7QXTjbPBNiVLeS6QRmBDyN4rlV4yYM7soUjYmKM-peuMWug">
        </div>
        <div class="col-md-7">
         <div class="blog-post-teaser">
          <h4 class="blog-post-title">BMC Workshop<small>(12 Ιανουαρίου 2017)</small></h4>
            <p class="blog-post-meta text-muted">Αναρτήθηκε: 4 Ιανουαρίου 2017</p>
            <p>Ο ρόλος και η χρησιμότητα του Business Model Canvas στην εξέλιξη μιας startup από επιχειρηματική ιδέα σε βιώσιμη επιχείρηση. </p>
            <a id="yellowcall" href="http://localhost:8000/blog/sample-post/" role="button"><span class="glyphicon glyphicon-exclamation-sign"></span><strong>Read</strong> more »</a>
         </div>
       </div>
      </div>
      <div class="blog-post">
        <div class="col-md-5">
         <img class="blog-post-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDrcA7QXTjbPBNiVLeS6QRmBDyN4rlV4yYM7soUjYmKM-peuMWug">
        </div>
        <div class="col-md-7">
         <div class="blog-post-teaser">
          <h4 class="blog-post-title">BMC Workshop<small>(12 Ιανουαρίου 2017)</small></h4>
            <p class="blog-post-meta text-muted">Αναρτήθηκε: 4 Ιανουαρίου 2017</p>
            <p>Ο ρόλος και η χρησιμότητα του Business Model Canvas στην εξέλιξη μιας startup από επιχειρηματική ιδέα σε βιώσιμη επιχείρηση. </p>
            <a id="yellowcall" href="http://localhost:8000/blog/sample-post/" role="button"><span class="glyphicon glyphicon-exclamation-sign"></span><strong>Read</strong> more »</a>
         </div>
       </div>
      </div>
      <div class="blog-post">
        <div class="col-md-5">
         <img class="blog-post-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDrcA7QXTjbPBNiVLeS6QRmBDyN4rlV4yYM7soUjYmKM-peuMWug">
        </div>
        <div class="col-md-7">
         <div class="blog-post-teaser">
          <h4 class="blog-post-title">BMC Workshop<small>(12 Ιανουαρίου 2017)</small></h4>
            <p class="blog-post-meta text-muted">Αναρτήθηκε: 4 Ιανουαρίου 2017</p>
            <p>Ο ρόλος και η χρησιμότητα του Business Model Canvas στην εξέλιξη μιας startup από επιχειρηματική ιδέα σε βιώσιμη επιχείρηση. </p>
            <a id="yellowcall" href="http://localhost:8000/blog/sample-post/" role="button"><span class="glyphicon glyphicon-exclamation-sign"></span><strong>Read</strong> more »</a>
         </div>
       </div>
      </div>
      <div class="blog-post">
        <div class="col-md-5">
         <img class="blog-post-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDrcA7QXTjbPBNiVLeS6QRmBDyN4rlV4yYM7soUjYmKM-peuMWug">
        </div>
        <div class="col-md-7">
         <div class="blog-post-teaser">
          <h4 class="blog-post-title">BMC Workshop<small>(12 Ιανουαρίου 2017)</small></h4>
            <p class="blog-post-meta text-muted">Αναρτήθηκε: 4 Ιανουαρίου 2017</p>
            <p>Ο ρόλος και η χρησιμότητα του Business Model Canvas στην εξέλιξη μιας startup από επιχειρηματική ιδέα σε βιώσιμη επιχείρηση. </p>
            <a id="yellowcall" href="http://localhost:8000/blog/sample-post/" role="button"><span class="glyphicon glyphicon-exclamation-sign"></span><strong>Read</strong> more »</a>
         </div>
       </div>
      </div>
    </div>
    <div class="col-md-3">
      <h4>Resources</h4>
      <div class="sidebar-module sidebar-module-inset">
        <ul>
          <li><a href="http://www.investopedia.com/advisor-network/articles/business-owner-compensation-marathon-or-sprint/" target="_blank">Business Owner Compensation. Marathon or Sprint</a></li>
          <li><a href="http://www.investopedia.com/advisor-network/articles/business-owner-compensation-marathon-or-sprint/" target="_blank">Business Owner Compensation. Marathon or Sprint</a></li>
          <li><a href="http://www.investopedia.com/advisor-network/articles/business-owner-compensation-marathon-or-sprint/" target="_blank">Business Owner Compensation. Marathon or Sprint</a></li>
          <li><a href="http://www.investopedia.com/advisor-network/articles/business-owner-compensation-marathon-or-sprint/" target="_blank">Business Owner Compensation. Marathon or Sprint</a></li>
          <li><a href="http://www.investopedia.com/advisor-network/articles/business-owner-compensation-marathon-or-sprint/" target="_blank">Business Owner Compensation. Marathon or Sprint</a></li>
          <li><a href="http://www.investopedia.com/advisor-network/articles/business-owner-compensation-marathon-or-sprint/" target="_blank">Business Owner Compensation. Marathon or Sprint</a></li>
          <li><a href="http://www.investopedia.com/advisor-network/articles/business-owner-compensation-marathon-or-sprint/" target="_blank">Business Owner Compensation. Marathon or Sprint</a></li>
        </ul>
      </div>
      <div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
      </div>
      <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://okthess.gr/dev/js/accordion.js"></script>
<script src="http://okthess.gr/dev/js/main.js"></script>
{% endblock %}
