{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
    <div class="container contact">
        <div class="row">
            {% if messages %}
                <div class="col-md-12">
                    <p class="alert alert-success text-center">
                        {% for message in messages %}
                            {{ message }}
                            <br>
                        {% endfor %}
                    </p>
                </div>
            {% endif %}
            <div class="col-md-6">
                <h3>Τοποθεσία</h3>
                <div id="contact-map-outer">
                    <div id="contact-map-container"></div>
                </div>
            </div>
            <div class="col-md-6">
                <address>
                    <abbr title="Οικοσύστημα Καινοτομίας Θεσσαλονίκης">OK!THESS</abbr><br>
                    <small>Αλληλογραφία:</small> Κομοτηνής 2, 54655<br>
                    <small>Είσοδος:</small> Γωνία Κυδωνιών &amp; Μαρίας Κάλλας<br>Θεσσαλονίκη, Ελλάδα.
                </address>
                <h3>Επικοινωνία μέσω e-mail</h3>
                <form action="{% url 'main:contact' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" rows="4" name="message" placeholder="Γράψε την ερώτηση σου"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Τη διεύθυνση email σου">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Το όνομα σου">
                    </div>
                    <button type="submit" class="btn-form">Στείλε!</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
