{% extends 'main/layout.html' %}

{% load static %}
{% load i18n %}

{% block content %}
    <div class="container contact">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>{% trans '5th Thessaloniki Demo Day, 12 September 2019' %}</h1>
                    <div class="index-land-content">
                     <h2>{% trans 'Open invitation to participate in the Thessaloniki Demo Day - Applications close on 25 August 2019' %}</h2>
                    </div>
                <p>
                    {% blocktrans %}
                        OK!Thess invites startup teams to meet investors from Greece and South-East Europe by applying to participate in the next Thessaloniki Demo Day, taking place on 12 September 2019.
                    {% endblocktrans %}
                </p>
                <br>
                <h3>{% trans 'What is Thessaloniki Demo Day' %}</h3>
                <p>
                    {% blocktrans %}
                        Thessaloniki Demo Days are events organised by OK!Thess to promote networking between startups and investors of risk capital from Greece and abroad.  
                    {% endblocktrans %}
                </p>
            </div>

            <div class="col-md-8 col-md-offset-2">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/d4iN7v5mQvI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>


            <div class="col-md-8 col-md-offset-2">
                <p>
                <br>
                {% blocktrans %}
                    The previous Demo Day was held in March 2019 at OK!Thess and was the largest ever gathering of Venture Capital funds and business angel networks in Thessaloniki with the sole purpose of holding private meetings with groups of the startup ecosystem. 24 investors participated in more than 130 meetings with 36 startups from Greece and Cyprus.
                {% endblocktrans %}
                </p>
            </div>    

            <div class="col-md-8 col-md-offset-2">
                <br>
                <h3>{% trans 'Who are the investors participating' %}</h3>
                <p>
                    {% blocktrans %}
                    The following active investors from Greece and Europe are participating:
                <ul>

                    <li><a href="https://metavallon.vc/" target="_blank">Metavallon</a></li>
                    <li><a href="http://velocitypartners.vc/" target="_blank">Velocity Partners</a></li>
                    <li><a href="https://uni.fund/" target="_blank">Unifund</a></li>
                    <li><a href="https://bigpi.vc/" target="_blank">BigPi</a></li>
                    <li><a href="https://marathon.vc" target="_blank">Marathon Venture Capital</a></li>
                    <li><a href="https://venturefriends.vc/" target="_blank">VentureFriends</a></li>
                    <li><a href="https://www.starttech.vc/" target="_blank">Startech Ventures</a></li>
                    <li><a href="https://www.nbg.gr/en/nbgseeds" target="_blank">NBG Business Seeds</a></li>
                    <li><a href="https://crossborderangels.com/" target="_blank">Cross Border Angels</a></li>
                    <li><a href="https://www.11.me/" target="_blank">Eleven Ventures</a></li>
                    <li><a href="https://www.launchub.vc/" target="_blank">LAUNCHub</a></li>
                    <li><a href="https://ceoclub.bg/angels/" target="_blank">CEO Angels Club</a></li>
                    <li><a href="https://sc-ventures.com/" target="_blank">South Central Ventures</a></li>
                    <li><a href="https://anthologyventures.com/" target="_blank">Anthology Ventures</a></li>
                    <li><a href="https://www.heban.gr/" target="_blank">Hellenic Business Angels Network</a></li>
                    <li><a href="https://www.adrionban.gr/" target="_blank">Adrion Business Angels Network</a></li>
                    <li><a href="http://www.thermi-group.com/en/thermi-ventures/" target="_blank">Thermi Ventures</a></li>
                </ul>
                    <br>
                    Ιnvestors are looking for early-stage opportunities across the spectrum: from hardware to software technology and services for markets in health, transportation, energy, commerce, manufacturing, agriculture, foodtech, fintech, tourism.
                    {% endblocktrans %}
                </p>
            </div>

            <div class="col-md-8 col-md-offset-2">
                <br>
                <h3>{% trans 'Startup participation terms' %}</h3>
                <p>
                    {% blocktrans %}
                        The only prerequisite for the participation of a startup in the Thessaloniki Demo Day is to have reached a level of maturity and preparation sufficient for the founding team to present a complete investment proposal (the “ask”).
                        <br><br>
                        Startups do not need to have gone through the incubation and acceleration program of OK!Thess. Applications are open to any startup from anywhere. It is also not obligatory for a team to present itself to investors for the first time.
                    {% endblocktrans %}
                </p>

                <br>
                <h3>{% trans 'Application process' %}</h3>
                <p>
                    {% blocktrans %}
                        Startup applications are submitted through <a href="https://docs.google.com/forms/d/e/1FAIpQLSeCrQz5zAlH5NFoKrRdmzsp67fB3hYKjqDUXVlgNsjMET9hpg/viewform?usp=sf_link" target="_blank">this form</a>. Applications are screened by OK!Thess and forwarded to investors for their review. Investors express their interest in meeting with specific startups and OK!Thess arranges the one-on-one meetings for September 12th. Startups are notified about their meeting schedule at least one week in advance.
                    {% endblocktrans %}
                </p>

                <br>
                <h3>{% trans 'Timetable' %}</h3>
                <p>
                    <ul>
                        <li>25/8: Startup application deadline (<a href="https://docs.google.com/forms/d/e/1FAIpQLSeCrQz5zAlH5NFoKrRdmzsp67fB3hYKjqDUXVlgNsjMET9hpg/viewform?usp=sf_link" target="_blank">apply here</a>)</li>
                        <li>4/9: Startups are notified about their meetings with investors</li>
                        <li>12/9: Thessaloniki Demo Day</li>
                    </ul>
                </p>

                <br>
                <h3>{% trans 'For more information' %}</h3>
                <p>
                    {% blocktrans %}
                    Dimitrios Kourtesis, OK!Thess Program Manager
                    <br>Email: dimitrios.kourtesis@okthess.gr
                    {% endblocktrans %}
                </p>

            </div>

            <div class="col-md-8 col-md-offset-7">
            <p>
                <a class="btn-blue btn-large" href="https://docs.google.com/forms/d/e/1FAIpQLSeCrQz5zAlH5NFoKrRdmzsp67fB3hYKjqDUXVlgNsjMET9hpg/viewform?usp=sf_link" target="_blank" role="button"> <span class="glyphicon glyphicon-exclamation-sign"></span>Apply here</a>
            </p>
        
        </div>
    </div>

{% endblock %}