{% extends 'main/layout.html' %}

{% load static %}
{% load i18n %}

{% block og %}
    <meta property="og:title" content="OK!Thess Demo Day">
    <meta property="og:description" content="5th Thessaloniki Demo Day, 12 September 2019">
    <meta property="og:url" content="http://okthess.gr/demoday">
    <meta property="og:image" content="https://s3-eu-central-1.amazonaws.com/okthess-static/uploads/skgdemoday.jpg">
    <meta property="og:type" content="website">
{% endblock %}

{% block content %}
    <div class="container contact">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>{% trans '5ο Thessaloniki Demo Day στις 12 Σεπτεμβρίου 2019' %}</h1>
                    <div class="index-land-content">
                     <h2>{% trans 'Ανοιχτή πρόσκληση για συμμετοχή startups έως 25 Αυγούστου' %}</h2>
                    </div>
                <p>
                    {% blocktrans %}
                        Το OK!Thess καλεί startups που θέλουν να παρουσιάσουν την επιχειρηματική τους προσπάθεια σε επενδυτές από την Ελλάδα και το εξωτερικό να συμμετέχουν στο Demo Day που διοργανώνουμε στις 12 Σεπτεμβρίου 2019. 
                    {% endblocktrans %}
                </p>
                <br>
                <h3>{% trans 'Τι είναι το Thessaloniki Demo Day' %}</h3>
                <p>
                    {% blocktrans %}
                        Τα Demo Days είναι ειδικά events που διοργανώνονται από το OK!Thess για να επιτρέψουν τη δικτύωση μεταξύ νεοφυών επιχειρήσεων και επενδυτών κεφαλαίων επιχειρηματικού ρίσκου από την Ελλάδα και το εξωτερικό. 
                    {% endblocktrans %} 
                </p>
            </div>

            <div class="col-md-8 col-md-offset-2">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/d4iN7v5mQvI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>


            <div class="col-md-8 col-md-offset-2">
                <p>
                <br>
                {% blocktrans %}
                    Το προηγούμενο Demo Day πραγματοποιήθηκε τον Μάρτιο του 2019 στο OK!Thess και ήταν η μεγαλύτερη μέχρι σήμερα συγκέντρωση εκπροσώπων Venture Capital funds και δικτύων επιχειρηματικών αγγέλων στη Θεσσαλονίκη, με αποκλειστικό αντικείμενο την πραγματοποίηση κατ’ ιδίαν συναντήσεων με ομάδες του startup οικοσυστήματος. Συμμετείχαν 24 επενδυτές που πραγματοποίησαν περισσότερες από 130 συναντήσεις με 36 startups από την Ελλάδα και την Κύπρο. 
                {% endblocktrans %}
                </p>
            </div>    

            <div class="col-md-8 col-md-offset-2">
                <br>
                <h3>{% trans 'Οι επενδυτές που συμμετέχουν' %}</h3>
                <p>
                    {% blocktrans %}
                    Στο 5ο Demo Day αναμένεται να συμμετέχουν εκπρόσωποι των παρακάτω επενδυτικών σχημάτων (Venture Capital funds και επιχειρηματικοί άγγελοι) από την Ελλάδα και την ΝΑ Ευρώπη:
                <ul>

                    <li><a href="https://metavallon.vc/" target="_blank">Metavallon</a></li>
                    <li><a href="http://velocitypartners.vc/" target="_blank">Velocity Partners</a></li>
                    <li><a href="https://uni.fund/" target="_blank">Unifund</a></li>
                    <li><a href="https://bigpi.vc/" target="_blank">BigPi</a></li>
                    <li><a href="https://marathon.vc" target="_blank">Marathon Venture Capital</a></li>
                    <li><a href="https://venturefriends.vc/" target="_blank">VentureFriends</a></li>
                    <li><a href="https://www.starttech.vc/" target="_blank">Startech Ventures</a></li>
                    <li><a href="https://www.nbg.gr/en/nbgseeds" target="_blank">NBG Business Seeds</a></li>
                    <li><a href="https://crossborderangels.com/" target="_blank">Cross Border Angels</a></li>
                    <li><a href="https://www.11.me/" target="_blank">Eleven Ventures</a></li>
                    <li><a href="https://www.launchub.vc/" target="_blank">LAUNCHub</a></li>
                    <li><a href="https://ceoclub.bg/angels/" target="_blank">CEO Angels Club</a></li>
                    <li><a href="https://sc-ventures.com/" target="_blank">South Central Ventures</a></li>
                    <li><a href="https://anthologyventures.com/" target="_blank">Anthology Ventures</a></li>
                    <li><a href="https://www.heban.gr/" target="_blank">Hellenic Business Angels Network</a></li>
                    <li><a href="https://www.adrionban.gr/" target="_blank">Adrion Business Angels Network</a></li>
                    <li><a href="http://www.thermi-group.com/en/thermi-ventures/" target="_blank">Thermi Ventures</a></li>
                    <li><a href="https://gravity.ventures/" target="_blank">Gravity Ventures</a></li>
                </ul>
                    <br>
                    Οι επενδυτές αναζητούν ευκαιρίες σε ομάδες αρχικού σταδίου και σε ευρύ φάσμα επιχειρηματικών μοντέλων που περιλαμβάνει προϊόντα και υπηρεσίες στους τομείς της υγείας, μεταφορών, ενέργειας, εμπορίου, παραγωγής, αγροδιατροφής, fintech και τουρισμού.

                    {% endblocktrans %}
                </p>
            </div>

            <div class="col-md-8 col-md-offset-2">
                <br>
                <h3>{% trans 'Προϋποθέσεις συμμετοχής για τις startups' %}</h3>
                <p>
                    {% blocktrans %}
                        Μόνη ουσιαστική προϋπόθεση για την συμμετοχή μιας νεοφυούς επιχείρησης στο OK!Thess Demo Day είναι η προσπάθεια της να έχει φτάσει στο κατάλληλο επίπεδο ωριμότητας και προετοιμασίας ώστε η ιδρυτική ομάδα να μπορεί να παρουσιάσει ολοκληρωμένα μια επενδυτική πρόταση.
                        <br>
                        Οι ομάδες δεν είναι υποχρεωτικό να προέρχονται από το πρόγραμμα επιτάχυνσης και προθερμοκοίτησης του OK!Thess. Η πρόσκληση συμμετοχής είναι ανοιχτή σε οποιαδήποτε ομάδα από οποιαδήποτε τοποθεσία. Επίσης δεν είναι υποχρεωτικό για μια ομάδα να εμφανίζεται σε επενδυτές για πρώτη φορά.  
                    {% endblocktrans %}
                </p>

                <br>
                <h3>{% trans 'Διαδικασία συμμετοχής' %}</h3>
                <p>
                    {% blocktrans %}
                        Οι αιτήσεις των ενδιαφερόμενων startups θα αποσταλούν στους επενδυτές προς αξιολόγηση. Οι επενδυτές θα εκδηλώσουν το ενδιαφέρον τους σχετικά με τις ομάδες που επιθυμούν να συναντήσουν και το OK!Thess θα ορίσει τα αντίστοιχα 1-1 meetings για τις 12 Σεπτεμβρίου. 
                    {% endblocktrans %}
                </p>

                <br>
                <h3>{% trans 'Χρονοδιάγραμμα' %}</h3>
                <p>
                    <ul>
                        <li>25/8: Προθεσμία υποβολής startup summary (<a href="https://docs.google.com/forms/d/e/1FAIpQLSeCrQz5zAlH5NFoKrRdmzsp67fB3hYKjqDUXVlgNsjMET9hpg/viewform?usp=sf_link" target="_blank">Υποβολή αιτήσεων εδώ</a>)</li>
                        <li>4/9: Ενημέρωση των επιλεγμένων ομάδων για το πρόγραμμα των συναντήσεων τους με τους επενδυτές</li>
                        <li>12/9: Thessaloniki Demo Day</li>
                    </ul>
                </p>

                <br>
                <h3>{% trans 'Πληροφορίες' %}</h3>
                <p>
                    {% blocktrans %}
                    Δημήτριος Κουρτέσης, OK!Thess Program Manager
                    <br>Email: dimitrios.kourtesis@okthess.gr
                    {% endblocktrans %}
                </p>

            </div>

            <div class="col-md-8 col-md-offset-7">
            <p>
                <a class="btn-blue btn-large" href="https://docs.google.com/forms/d/e/1FAIpQLSeCrQz5zAlH5NFoKrRdmzsp67fB3hYKjqDUXVlgNsjMET9hpg/viewform?usp=sf_link" target="_blank" role="button"> <span class="glyphicon glyphicon-exclamation-sign"></span>Υποβολή αιτήσεων εδώ
                </a>
            </p>
        
        </div>
    </div>

{% endblock %}
