{% extends 'main/layout.html' %}

{% load static %}
{% load i18n %}

{% block title %}Events | OK!Thess{% endblock %}

{% block content %}
    <div class="container-fluid events">
        <div class="row">
            <div class="col-md-9">
              <h1 class="yellow">{% trans 'Events' %}</h1>
                {% for event in events_list %}
                    <div class="events-single {% if event.is_old %} events-single-dimmed {% endif %}">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <a href="{{ event.link }}"><img src="{{ event.image }}"></a>
                            </div>
                            <div class="col-md-9">
                                <div class="events-single-data">
                                    <div class="events-single-data-time">Time: {{ event.time_start }} to {{ event.time_end }}</div>
                                    <div class="events-single-data-date">Date: {{ event.date }}</div>
                                </div>
                                <div class="events-single-title">
                                    <a href="{{ event.link }}">{{ event.title }}</a>
                                </div>
                                <p class="events-single-para">{{ event.description }}</p>
                                <div class="events-single-data">
                                    <div class="events-single-data-organizer">Organized by: {{ event.organizer }}</div>
                                    <div class="events-single-data-link">
                                        <a href="{{ event.organizer_link }}" target="_blank">
                                            More <i class="glyphicon glyphicon-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-3">
                <h3 class="yellow">{% trans 'Hosted Meetups' %}</h3>
                <div class="sidebar-module sidebar-module-inset sidebar-meetups">
                    <ul>
                        {% for meetup in meetups %}
                            <li><a href="{{ meetup.link }}" target="_blank">{{ meetup.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="program-sidebar-meetup">
                        <h3 class="yellow">
                            OK!Thess Meetup
                            <i class="glyphicon glyphicon-circle-arrow-right"></i>
                        </h3>
                        <div class="program-sidebar-box">
                            {% trans 'The meetup of OK!Thess is the new thing in town. Click here to learn more' %}
                        </div>
                </div>
                <h3 class="yellow">{% trans 'Past Events' %}</h3>
                <div class="sidebar-module">
                    {% for year, year_obj in events_archive.items %}
                        <h5>{{ year }}</h5>
                        <br>
                        {% for month_triad, triad_obj in year_obj.items %}
                            <button class="accordion">{{ month_triad }}</button>
                            <div class="panel">
                                <div class="panel-inner">
                                    <ul>
                                        {% for event in triad_obj %}
                                            <li>
                                                <a href="{{ event.link }}" target="_blank">
                                                    {{ event.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        var acc = document.getElementsByClassName('accordion');
        var i = 0;
        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function () {
                this.classList.toggle('active');
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                    button.style.marginTop = '35px';
                } else {
                    panel.style.maxHeight = panel.scrollHeight + 'px';
                    button.style.marginTop = '35px';
                }
            }
        }
    </script>
{% endblock %}
