{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
    <section class="jumbotron">
        <div class="container text-center">
            <h1>Συνεργάτης<br>στα πρώτα βήματα</h1>
            <p>To OK!Thess παρέχει χώρο και τεχνική υποστήριξη σε ομάδες ανθρώπων με καινοτόμες ιδέες.</p>
            <a href="#" class="btn btn-lg btn-cta">Apply now &raquo;</a>
        </div>
    </section>
    <section class="container-fluid marketing">
        <div class="row">
            <div class="col-md-4 col-sm-4 marketing-item">
                <h2>Call for Startups</h2>
                <p>Χρειάζεσαι βοήθεια στο επιχειρηματικό σου ξεκίνημα; Το OK!Thess είναι εδώ για να σου την προσφέρει! Συμπλήρωσε και κατάθεσε την αίτηση συμμετοχής τώρα ή και μέχρι τις 13 Σεπτεμβρίου του 2017.</p>
                <a class="btn btn-secondary" href="http://okthess.gr/app.php" role="button">Αίτηση &raquo;</a>
            </div>
            <div class="col-md-4 col-sm-4 marketing-item">
                <h2>Θέσεις Εργασίας</h2>
                <p>Η ομάδα του ΟΚ!Τhess μεγαλώνει και αναζητά νέους συνεργάτες. Οι υποψήφιοι καλούνται να εκδηλώσουν το ενδιαφέρον τους αποστέλλοντας αίτηση ηλεκτρονικά, μέχρι και τις 21 Αυγούστου 2017.</p>
                <a class="btn btn-secondary" href="http://okthess.gr/news.html?showmodal=5" role="button">Περισσότερα &raquo;</a>
            </div>
            <div class="col-md-4 col-sm-4 marketing-item">
                <h2>Startup Weekend</h2>
                <p>12-14 Μαίου 2017: 30 συμμετέχοντες ποικίλων ειδικοτήτων δημιούργουν 7 ομάδες και δουλεύουν στους χώρους του OK!Thess υποστηριζόμενοι απο 8 μέντορες. Δες το τριήμερο σε 5 φωτογραφίες.</p>
                <a class="btn btn-secondary" href="http://okthess.gr/news.html?showmodal=4" role="button">Περισσότερα &raquo;</a>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
