{% load static %}
{% load i18n %}
{% load app_filters %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" itemscope itemtype="https://schema.org/ProfessionalService">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static '/main/img/favicon.png' %}" type="image/png" sizes="32x32">

    <title>{% block title %}OK!Thess | Thessaloniki's Innovation Ecosystem{% endblock %}</title>

	<meta http-equiv="Content-Type" content="text/html">
	<meta name="description" content="OK!Thess provides space and technical support to teams with innovative ideas.">
	<meta name="robots" content="NOODP">
	<meta name="author" content="ntemposd">

	<meta itemprop="name" content="OK!Thess">
	<meta itemprop="description" content="OK!Thess provides space and technical support to teams with innovative ideas.">
	<meta itemprop="image" content="https://s3.eu-central-1.amazonaws.com/okthess-static/uploads/logo.png">

    {% block og %}
        <meta property="og:title" content="OK!Thess">
        <meta property="og:description" content="OK!Thess provides space and technical support to teams with innovative ideas.">
        <meta property="og:url" content="http://okthess.gr">
        <meta property="og:image" content="https://s3.eu-central-1.amazonaws.com/okthess-static/uploads/logo.png">
        <meta property="og:type" content="website">
    {% endblock %}

    {% block twitter %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@okthess">
        <meta name="twitter:creator" content="@ntemposd">
        <meta name="twitter:title" content="OK!Thess">
        <meta name="twitter:description" content="OK!Thess provides space and technical support to teams with innovative ideas.">
        <meta name="twitter:image" content="https://s3.eu-central-1.amazonaws.com/okthess-static/uploads/logo.png">
    {% endblock %}

	<link rel="stylesheet" href="{% static '/main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/main/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&amp;subset=greek" rel="stylesheet">

	<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-49294327-5', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'main:index' %}"><img src="{% static '/main/img/logo.png' %}" alt="Logo"></a>
            <a class="btn-red btn-header" href="{% url 'main:apply' %}" role="button">
                <span class="glyphicon glyphicon-exclamation-sign"></span>{% trans "<strong>Apply</strong> for Autumn '17" %}
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown {% active 'about' %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans 'About' %} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="{% url 'main:about' %}#what">{% trans 'What we do' %}</a></li>
                        <li><a tabindex="-1" href="{% url 'main:about' %}#how">{% trans 'How we do it' %}</a></li>
                        <li><a tabindex="-1" href="{% url 'main:about' %}#participate">{% trans 'How do I participate?' %}</a></li>
                        <li><a tabindex="-1" href="{% url 'main:about' %}#coworking">{% trans 'Coworking space' %}</a></li>
                   </ul>
                </li>
                <li class="{% active 'program' %}"><a href="{% url 'main:program_teams' %}">{% trans 'Teams' %}</a></li>
                <li class="{% active 'event' %}"><a href="{% url 'main:events' %}">{% trans 'Space' %}</a></li>
                <li class="{% active 'blog' %}"><a href="{% url 'main:blog' %}">{% trans 'Blog' %}</a></li>
                <li class="{% active 'contact' %}"><a href="{% url 'main:contact' %}">{% trans 'Contact' %}</a></li>
                <li class="navbar-language">
                    {% csrf_token %}
                    <div class="hidden" id="current-language">{{ LANGUAGE_CODE }}</div>
                    {% if LANGUAGE_CODE == 'en' %}
                        <a href="#" id="switch-language" title="Switch to Greek language">gr</a>
                    {% else %}
                        <a href="#" id="switch-language" title="Switch to English language">en</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <hr>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="site-footer">
        <div class="container-fluid">
            <div class="row" id="social">
                <a href="mailto:mail@okthess.gr" target="_blank"><img social src="{% static '/main/img/email.png' %}" alt="email"></a>
                <a href="https://www.facebook.com/OKThess/" target="_blank"><img social src="{% static '/main/img/facebook.png' %}" alt="facebook"></a>
                <a href="https://twitter.com/okthess" target="_blank"><img social src="{% static '/main/img/twitter.png' %}" alt="twitter"></a>
            </div>
            <div class="row">
                <div class="site-footer-content">
                    <div class="col-md-4 col-sm-4">
                        <h5>{% trans 'LOCATION' %}</h5>
                        <hr>
                            <div id="map-outer">
                                <div id="map-container"></div>
                            </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h5>{% trans 'MEMBERS' %}</h5><hr>
                        <a href="https://www.auth.gr/" target="_blank">
                            <img src="{% static '/main/img/footer/auth.jpg' %}" alt="Aristotle University Thessaloniki" class="footer-content-item-img">
                        </a>
                        <a href="http://www.thessaloniki.gr/" target="_blank">
                            <img src="{% static '/main/img/footer/municipality.jpg' %}" alt="Municipality of Thessaloniki" class="footer-content-item-img">
                        </a>
                        <a href="http://www.uom.gr/" target="_blank">
                            <img src="{% static '/main/img/footer/uom.png' %}" alt="University of Macedonia" class="footer-content-item-img">
                        </a>
                        <a href="http://www.thessinnozone.gr/" target="_blank">
                            <img src="{% static '/main/img/footer/tiz.jpg' %}" alt="Thessaloniki Innovation Zone" class="footer-content-item-img">
                        </a>
                        <a href="http://www.teithe.gr/" target="_blank">
                            <img src="{% static '/main/img/footer/ateith.jpg' %}" alt="Alexander Technological Institute Thessaloniki" class="footer-content-item-img">
                        </a>
                        <a href="http://www.sbbe.gr/" target="_blank">
                            <img src="{% static '/main/img/footer/sbbe.jpg' %}" alt="SBBE" class="footer-content-item-img">
                        </a>
                        <a href="http://www.ihu.edu.gr/" target="_blank">
                            <img src="{% static '/main/img/footer/ihu.jpg' %}" alt="International Hellenic University" class="footer-content-item-img">
                        </a>
                        <a href="http://www.seve.gr/" target="_blank">
                            <img src="{% static '/main/img/footer/seve.jpg' %}" alt="SEVE" class="footer-content-item-img">
                        </a>
                        <a href="http://www.e-kepa.gr/" target="_blank">
                            <img src="{% static '/main/img/footer/kepa.jpg' %}" alt="KEPA" class="footer-content-item-img">
                        </a>
                        <a href="http://www.sepve.org/" target="_blank">
                            <img src="{% static '/main/img/footer/sepve.jpg' %}" alt="SEPVE" class="footer-content-item-img">
                        </a>
                        </div>
                    <div class="col-md-4 col-sm-4">
                        <h5>{% trans 'SPONSORS' %}</h5><hr>
                        <a href="http://www.hcn.gr/" target="_blank">
                            <img src="{% static '/main/img/footer/hcn.jpg' %}" alt="HCN" class="footer-content-item-img">
                        </a>
                        <a href="http://www.beetroot.gr/" target="_blank">
                            <img src="{% static '/main/img/footer/beetroot.png' %}" alt="Beetroot" class="footer-content-item-img">
                        </a>
                        <a href="https://www.ast.gr/" target="_blank">
                            <img src="{% static '/main/img/footer/ast.png' %}" alt="AST" class="footer-content-item-img">
                        </a>
                        <h5>{% trans 'DONOR' %}</h5><hr>
                        <a href="http://www.snf.org/el/" target="_blank">
                            <img src="{% static '/main/img/footer/isn.jpg' %}" alt="ISN" class="footer-content-item-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content-author">
            Lovingly crafted by <a href="http://ntemposd.me" target="_blank">ntemposd</a> and <a href="https://sirodoht.xyz/" target="_blank">sirodoht</a>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        // show footer and contact map
        function initMap() {
            var okthessLatLng = {
                lat: 40.595311,
                lng: 22.950956,
            };

            var footerMap = new google.maps.Map(document.getElementById('map-container'), {
                zoom: 12,
                center: okthessLatLng,
            });

            var footerMarker = new google.maps.Marker({
                position: okthessLatLng,
                map: footerMap,
                title: 'OK!Thess'
            });

            // for contact page map
            var contactMapElem = document.getElementById('contact-map-container');
            if (contactMapElem) {
                var contactMap = new google.maps.Map(document.getElementById('contact-map-container'), {
                    zoom: 13,
                    center: okthessLatLng,
                });

                var contactMarker = new google.maps.Marker({
                    position: okthessLatLng,
                    map: contactMap,
                    title: 'OK!Thess'
                });
            }
        }
    </script>

    <script>
        // get csrf from the html
        function getCsrf() {
            var inputElems = document.querySelectorAll('input');
            var csrfToken = '';
            for (i = 0; i < inputElems.length; ++i) {
                if (inputElems[i].name === 'csrfmiddlewaretoken') {
                    csrfToken = inputElems[i].value;
                    break;
                }
            }
            return csrfToken;
        };

        // change language button
        var languageSwitch = document.getElementById('switch-language');
        languageSwitch.addEventListener('click', function (event) {
            event.preventDefault();

            csrfToken = getCsrf();
            var currentLang = document.getElementById('current-language').textContent;
            var newLang = 'el';
            if (currentLang === 'el') {
                newLang = 'en';
            }

            $.ajax({
                method: 'POST',
                url: '/i18n/setlang/',
                beforeSend: function (request) {
                    request.setRequestHeader('X-CSRFToken', csrfToken);
                },
                data: {
                    'language': newLang,
                },
            })
                .done(function () {
                    // redirect from eg. '/en/blog/' to '/blog' so Django will re-redirect to already set lang
                    window.location.pathname = document.location.pathname.slice(3);
                });
        });

        // test other language if exists, if not hide the switch button
        var langCode = "{{ LANGUAGE_CODE }}";
        var newLangCode = 'en';
        if (langCode === 'en') {
            var newLangCode = 'el';
        }
        var currentPath = document.location.pathname.slice(3);
        var testLangPath = '/' + newLangCode + currentPath;
        $.ajax(testLangPath)
            .fail(function () {
                languageSwitch.classList.add('hidden');
            });
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7E2raajPS5-4vEpx-LBOV0XkItvWQRt8&signed_in=true&callback=initMap"></script>
</body>
</html>
