{% extends 'main/layout.html' %}

{% load static %}
{% load i18n %}

{% block title %}The OK!Thess Meetup{% endblock %}

{% block content %}
    <div class="container meetup">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <div class="meetup-body">
                    <div class="meetup-body-jumbotron">
                        <h1>OK!Thess Meetup</h1>
                        <br>
                        <div class="meetup-body-jumbotron-subtitle-line">
                            Our meetup's purpose is to boost enterpreneurship and
                        </div>
                        <br>
                        <div class="meetup-body-jumbotron-subtitle-line">
                            innovation in Thessaloniki's ecosystem.
                        </div>
                    </div>
                    <div class="meetup-body-content">
                        <div class="row">
                            <div class="col-md-8 col-sm-8">
                                <div class="meetup-body-content-body">
                                    <h2>Description</h2>
                                    <p>
                                        Our meetup is awesome and meetups
                                        every Thursday! Be there!
                                    </p>
                                    {% lorem 2 p %}
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="meetup-body-content-side">
                                    <div class="meetup-body-content-side-title">
                                        <i class="glyphicon glyphicon-console"></i>
                                        {% if latest_meetup.title %}
                                            {{ latest_meetup.title }}
                                        {% else %}
                                            Next meetup
                                        {% endif %}
                                    </div>
                                    <div class="meetup-body-content-side-meta">
                                        <div class="meetup-body-content-side-meta-date">{{ latest_meetup.date }}</div>
                                        <div class="meetup-body-content-side-meta-time">{{ latest_meetup.time }}</div>
                                    </div>
                                    <div class="meetup-body-content-side-agenda">
                                        <div class="meetup-body-content-side-agenda-title">
                                            <i class="glyphicon glyphicon-pushpin"></i>
                                            Agenda
                                        </div>
                                        {{ latest_meetup.agenda|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
