{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
    <section class="jumbotron">
        <div class="jumbotron-cta">
            <h1>Τα Νέα του Οικοσυστήματος</h1>
            <p>Νέα και αποτελέσματα εκδηλώσεων που συμβαίνουν στην ευρύτερη περιοχή της Θεσσαλονίκης.</p>
        </div>
    </section>
    <section class="container-fluid news">
        <div class="row">
            <div class="col-md-9">
                {% for post in posts %}
                    <div class="news-item">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ post.image }}" class="media-object">
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading">{{ post.title }}</h3>
                                <p class="small">Αναρτήθηκε {{ post.date }}</p>
                                <p>{{ post.teaser }}</p>
                                <a href="{% url 'main:news_single' post.slug %}">Περισσότερα »</a>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    There are no posts.
                {% endfor %}
            </div>
            <div class="col-md-3">
                <div class="sidebar-item">
                    <h4>About</h4>
                    <p>{% lorem 1 %}</p>
                </div>
                <div class="sidebar-item">
                    <h4>Archive</h4>
                </div>
                <div class="sidebar-item">
                    <h4>Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
