{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
    <div class="container program">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="program-meetup">
                    <div class="program-meetup-jumbotron">
                        <h1>OK!Thess Meetup</h1>
                        <br>
                        <div class="program-meetup-jumbotron-subtitle-line">
                            Our meetup's purpose is to boost enterpreneurship and
                        </div>
                        <br>
                        <div class="program-meetup-jumbotron-subtitle-line">
                            innovation in Thessaloniki's ecosystem.
                        </div>
                    </div>
                    <div class="program-meetup-content">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="program-meetup-content-body">
                                    <h2>Description</h2>
                                    <p>
                                        Our meetup is awesome and meetups
                                        every Thursday! Be there!
                                    </p>
                                    {% lorem 2 p %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="program-meetup-content-side">
                                    <div class="program-meetup-content-side-title">
                                        <i class="glyphicon glyphicon-console"></i>
                                        Next meetup
                                    </div>
                                    <div class="program-meetup-content-side-name">Meetup #38</div>
                                    <div class="program-meetup-content-side-date">Thursday, 25 Oct, 2017</div>
                                    <div class="program-meetup-content-side-time">6pm</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
