{% extends 'main/layout.html' %}

{% load static %}
{% load i18n %}

{% block title %}Teams | OK!Thess{% endblock %}

{% block content %}
    <div class="container program">
        <div class="row">
            <div class="col-sm-9">
                <div class="program-main">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>{% trans 'Hosted Teams' %}</h1>
                            <div class="program-main-filter">
                                <!--<button id="industry-filter">
                                    {% trans 'Filter by industry' %}
                                    <i class="glyphicon glyphicon-th"></i>
                                </button>-->
                                <div class="program-main-filter-industries hidden" id="industry-filter-container">
                                    <!-- <div class="program-main-filter-industries-item">sample industry</div> -->
                                </div>
                            </div>
                        </div>
                        {% for team in teams_list %}
                            <div class="col-md-4 col-sm-6 program-main-company">
                                <div class="program-main-company-image">
                                    {% if team.url %}
                                        <a href="{{ team.url }}"><img src="{{ team.image }}" alt="{{ team.name }} logo"></a>
                                    {% else %}
                                        <img src="{{ team.image }}" alt="{{ team.name }} logo">
                                    {% endif %}
                                </div>
                                {% if team.name %}
                                    <div class="program-main-company-name"><a href="{{ team.url }}" >{{ team.name }}</a></div>
                                {% endif %}
                                <div class="program-main-company-industry hidden">{{ team.industry }}</div>
                                <p class="program-main-company-desc">{{ team.description }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="program-sidebar">
                  <h2>{% trans 'The program' %}</h2>
                  <div class="program-sidebar-box">
                    {% blocktrans %}
                     Τeams are selected in consideration of the sustainability of their submitted proposal, and physical interviews. Once selected, they enter a 3-month program starting with a Bootcamp. Thereafter teams are assigned an OK!Thess coach to work towards creating a scalable business model. Each cycle terminates with a DEMO DAY.
                    {% endblocktrans %}
                  </div>
                  <div class="text-right">
                    <a class="btn-red alt" href="/apply/" role="button">{% trans 'Apply now!' %}</a>
                  </div>
                  <div class="program-sidebar-tabs">
                        <ul class="nav nav-pills nav-stacked program-sidebar-tabs-list">
                            <!-- <li class="program-sidebar-tabs-elem"><a href="{% url 'main:program_mentors' %}">{% trans 'Mentors' %}</a></li> -->
                            <li class="program-sidebar-tabs-elem"><a href="{% url 'main:program_alumni' %}">{% trans 'Alumni »' %}</a></li>
                            <!--<li class="program-sidebar-tabs-elem"><a href="{% url 'main:program_partners' %}">{% trans 'Team &amp; Partners' %}</a></li>-->
                        </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container program">
        <div class="row">
            <div class="col-sm-9">
                <div class="program-main">
                    <h1>{% trans 'Graduated Teams' %}</h1>
                    <div style="margin-bottom: 40px;"></div>
                    <div class="row">
                        {% for team in teams_list %}
                            <div class="col-sm-4 col-sm-6 program-main-company">
                                <div class="program-main-company-image">
                                    <a href="{{ team.link }}"><img src="{{ team.image }}" alt="team logo"></a>
                                </div>
                                {% if team.name %}
                                    <div class="program-main-company-name"><a href="{{ team.url }}" >{{ team.name }}</a></div>
                                {% endif %}
                                <p class="program-main-company-desc">{{ team.description }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="program-sidebar">
                  <h2>{% trans 'Alumni network' %}</h2>
                  <div class="program-sidebar-box">
                    {% blocktrans %}
                    Our graduates comprise the wider OK!Thess network. They meet at regular intervals to exchange post OK!Thess views and knowledge and they are also invited to help our hosted teams as Mentors.
                    {% endblocktrans %}
                  </div>
                  <div class="program-sidebar-tabs">
                        <ul class="nav nav-pills nav-stacked program-sidebar-tabs-list">
                            <li class="program-sidebar-tabs-elem"><a href="{% url 'main:program_teams' %}">{% trans 'Hosted Teams »' %}</a></li>
                            <!-- <li class="program-sidebar-tabs-elem"><a href="{% url 'main:program_mentors' %}">{% trans 'Mentors' %}</a></li> -->
                            <!-- <li class="program-sidebar-tabs-elem"><a href="{% url 'main:program_partners' %}">{% trans 'Team &amp; Partners' %}</a></li> -->
                        </ul>
                  </div>
                  <div class="text-right">
                   <a class="btn-red alt" href="/apply/" role="button">{% trans 'Apply now!' %}</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // make button to show/hide industries
        var filterBtn = document.getElementById('industry-filter');
        filterBtn.addEventListener('click', function (event) {
            document.getElementById('industry-filter-container').classList.toggle('hidden');
        });

        // get values of all teams
        var industriesElems = document.querySelectorAll('.program-main-company-industry');
        var industriesValues = [];
        var i = 0;
        for (i = 0; i < industriesElems.length; i++) {
            var value = industriesElems[i].innerText;
            if (industriesValues.indexOf(value) === -1) {
                industriesValues.push(value);
            }
        }

        var industriesContainerElem = document.getElementById('industry-filter-container');

        // add 'all' filter first
        var allIndustryElem = document.createElement('div');
        allIndustryElem.classList.add('program-main-filter-industries-item')
        var allIndustryElemContent = document.createTextNode('all');
        allIndustryElem.appendChild(allIndustryElemContent);
        allIndustryElem.addEventListener('click', function (event) {
            var industriesElems = document.querySelectorAll('.program-main-company-industry');
            var i = 0;
            for (i = 0; i < industriesElems.length; i++) {
                var allIndustryElems = document.querySelectorAll('.program-main-filter-industries-item');
                var j = 0;
                for (j = 0; j < allIndustryElems.length; j++) {
                    allIndustryElems[j].style.background = '#fff';
                }
                industriesElems[i].parentNode.classList.remove('hidden');
            }
        })
        industriesContainerElem.appendChild(allIndustryElem);

        industriesValues.forEach(function (item) {

            // create industry clickable element
            var newIndustryElem = document.createElement('div');
            newIndustryElem.classList.add('program-main-filter-industries-item');

            // add content to the industry clickable element
            var newIndustryElemContent = document.createTextNode(item);
            newIndustryElem.appendChild(newIndustryElemContent);

            // add event listener to industry clickable element
            newIndustryElem.addEventListener('click', function (event) {
                var targetElem = event.target;
                var industry = event.target.innerText;
                var industriesElems = document.querySelectorAll('.program-main-company-industry');
                var i = 0;
                for (i = 0; i < industriesElems.length; i++) {
                    var allIndustryElems = document.querySelectorAll('.program-main-filter-industries-item');
                    var j = 0;
                    for (j = 0; j < allIndustryElems.length; j++) {
                        allIndustryElems[j].style.background = '#fff';
                    }
                    targetElem.style.background = '#eee';
                    if (industriesElems[i].innerText !== industry) {
                        industriesElems[i].parentNode.classList.add('hidden');
                    } else {
                        industriesElems[i].parentNode.classList.remove('hidden');
                    }
                }
            });

            // add industry element in industries container element
            industriesContainerElem.appendChild(newIndustryElem);
        });
    </script>

{% endblock %}
