{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
<h1>Vertical Tabs: Smart & Responsive</h1>
<section>
  <h4 class="active">Who?</h4>
  <ul>
    <li>Nam de isto magna dissensio est.</li>
    <li>Quis istud possit, inquit, negare?</li>
    <li>Quod mihi quidem visus est, cum sciret, velle tamen confitentem audire Torquatum.</li>
    <li>Sic enim censent, oportunitatis esse beate vivere.</li>
    <li>Nam de isto magna dissensio est.</li>
    <li>Quis istud possit, inquit, negare?</li>
    <li>Quod mihi quidem visus est, cum sciret, velle tamen confitentem audire Torquatum.</li>
    <li>Sic enim censent, oportunitatis esse beate vivere.</li>
    <li>I need to fix this... "section" should wrap around the "ul"</li>
  </ul>
  <h4>What?</h4>
  <ul>
    <li>Potius inflammat, ut coercendi magis quam dedocendi esse videantur.</li>
    <li>Atqui reperies, inquit, in hoc quidem pertinacem;</li>
    <li>Verba tu fingas et ea dicas, quae non sentias?</li>
  </ul>
  <h4>Where?</h4>
  <ul>
    <li>Qui autem de summo bono dissentit de tota philosophiae ratione dissentit.</li>
    <li>Sed quanta sit alias, nunc tantum possitne esse tanta.</li>
    <li>An est aliquid per se ipsum flagitiosum, etiamsi nulla comitetur infamia?</li>
  </ul>
  <h4>Where?</h4>
  <ul>
    <li>Omnes enim iucundum motum, quo sensus hilaretur.</li>
    <li>Oratio me istius philosophi non offendit;</li>
    <li>Ut pulsi recurrant?</li>
    <li>Cur fortior sit, si illud, quod tute concedis, asperum et vix ferendum putabit?</li>
  </ul>
  <h4>Why?</h4>
  <ul>
    <li>Et ille ridens: Video, inquit, quid agas;</li>
    <li>Sed tu istuc dixti bene Latine, parum plane.</li>
    <li>Eorum enim omnium multa praetermittentium, dum eligant aliquid, quod sequantur, quasi curta sententia;</li>
  </ul>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
$('section h4').click(function(event) {
event.preventDefault();
$(this).addClass('active');
$(this).siblings().removeClass('active');

var ph = $(this).parent().height();
var ch = $(this).next().height();

if (ch > ph) {
  $(this).parent().css({
    'min-height': ch + 'px'
  });
} else {
  $(this).parent().css({
    'height': 'auto'
  });
}
});

function tabParentHeight() {
var ph = $('section').height();
var ch = $('section ul').height();
if (ch > ph) {
  $('section').css({
    'height': ch + 'px'
  });
} else {
  $(this).parent().css({
    'height': 'auto'
  });
}
}

$(window).resize(function() {
tabParentHeight();
});

$(document).resize(function() {
tabParentHeight();
});
tabParentHeight();

</script>
{% endblock %}
