{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Alumni | OK!Thess{% endblock %}

{% block content %}
    <div class="container program">
        <div class="row">
            <div class="col-sm-9">
                <div class="program-main">
                    <h1>{% trans 'Alumni' %}</h1>
                    <div style="margin-bottom: 40px;"></div>
                    <div class="row">
                        {% for team in teams_list %}
                            <div class="col-sm-4 col-sm-6 program-main-company">
                                <div class="program-main-company-image">
                                    <a href="{{ team.link }}"><img src="{{ team.image }}" alt="team logo"></a>
                                </div>
                                <p class="program-main-company-desc">{{ team.description }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="program-sidebar">
                    <div class="program-sidebar-about">
                        <h4>{% trans 'About alumni' %}</h4>
                        <div class="program-sidebar-box">
{% blocktrans %}
program alumni sidebar
{% endblocktrans %}
                        </div>
                        <br>
                    </div>
                    <div class="program-sidebar-tabs">
                        <ul class="nav nav-pills nav-stacked program-sidebar-tabs-list">
                            <li class="program-sidebar-tabs-elem"><a href="{% url 'main:program_teams' %}">{% trans 'Teams' %}</a></li>
                            <li class="program-sidebar-tabs-elem"><a href="{% url 'main:program_mentors' %}">{% trans 'Mentors' %}</a></li>
                            <li class="program-sidebar-tabs-elem active"><a href="{% url 'main:program_alumni' %}">{% trans 'Alumni' %}</a></li>
                        </ul>
                    </div>
                    <div class="program-sidebar-regulation">
                        <div class="separator"></div>
                        <h4><a href="{% static '/main/files/okthess-internal-regulation.pdf' %}">Internal Regulation</a></h4>
                        <div class="separator"></div>
                        <br>
                        <a class="btn-red" href="/apply/" role="button">Apply now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
