{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Mentors | OK!Thess{% endblock %}

{% block content %}
    <div class="container program">
        <div class="row">
            <div class="col-md-9">
                <div class="program-main">
                    <h1>{% trans 'Mentors' %}</h1>
                    <div style="margin-bottom: 40px;"></div>
                    <div class="row">
                        {% for mentor in mentors_list %}
                            <div class="col-md-4">
                                <div class="program-main-mentor">
                                    <img src="{{ mentor.image }}" class="program-main-mentor-image" alt="mentor image">
                                    <div class="program-main-mentor-name">{{ mentor.name }}</div>
                                    <p>{{ mentor.description }}</p>
                                    <div class="program-main-mentor-links">
                                        {% if mentor.github %}
                                            <a href="{{ mentor.github }}">GitHub</a>
                                        {% endif %}
                                        {% if mentor.website %}
                                            <a href="{{ mentor.website }}">Website</a>
                                        {% endif %}
                                        {% if mentor.linkedin %}
                                            <a href="{{ mentor.linkedin }}">LinkedIn</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="program-sidebar">
                    <div class="program-sidebar-about">
                        <h4>{% trans 'How you can be a mentor' %}</h4>
                        <div class="program-sidebar-box">
{% blocktrans %}
program mentors sidebar how to be a mentor
{% endblocktrans %}
                        </div>
                        <br>
                    </div>
                    <div class="program-sidebar-tabs">
                        <ul class="nav nav-pills nav-stacked program-sidebar-tabs-list">
                            <li class="program-sidebar-tabs-elem"><a href="{% url 'main:program_teams' %}">{% trans 'Teams' %}</a></li>
                            <li class="program-sidebar-tabs-elem active"><a href="{% url 'main:program_mentors' %}">{% trans 'Mentors' %}</a></li>
                            <li class="program-sidebar-tabs-elem"><a href="{% url 'main:program_alumni' %}">{% trans 'Alumni' %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
