{% extends 'main/layout.html' %}

{% block title %}Resources | OK!Thess{% endblock %}

{% block content %}
<div class="container resources">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Resources</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h2>Entrepreneurship</h2>
                            <div class="resources-item">
                                <a class="resources-item-title" href="#" target="_blank">
                                    Resource title
                                </a>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quos, eius nihil voluptatibus quis voluptatum corporis.
                            </div>
                            <div class="resources-item">
                                <a class="resources-item-title" href="#" target="_blank">
                                    Resource title
                                </a>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quos, eius nihil voluptatibus quis voluptatum corporis.
                            </div>
                            <div class="resources-item">
                                <a class="resources-item-title" href="#" target="_blank">
                                    Resource title
                                </a>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quos, eius nihil voluptatibus quis voluptatum corporis.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2>Innovation</h2>
                            <div class="resources-item">
                                <a class="resources-item-title" href="#" target="_blank">
                                    Resource title
                                </a>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quos, eius nihil voluptatibus quis voluptatum corporis.
                            </div>
                            <div class="resources-item">
                                <a class="resources-item-title" href="#" target="_blank">
                                    Resource title
                                </a>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quos, eius nihil voluptatibus quis voluptatum corporis.
                            </div>
                            <div class="resources-item">
                                <a class="resources-item-title" href="#" target="_blank">
                                    Resource title
                                </a>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quos, eius nihil voluptatibus quis voluptatum corporis.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h2>Technology</h2>
                            <div class="resources-item">
                                <a class="resources-item-title" href="#" target="_blank">
                                    Resource title
                                </a>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quos, eius nihil voluptatibus quis voluptatum corporis.
                            </div>
                            <div class="resources-item">
                                <a class="resources-item-title" href="#" target="_blank">
                                    Resource title
                                </a>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quos, eius nihil voluptatibus quis voluptatum corporis.
                            </div>
                            <div class="resources-item">
                                <a class="resources-item-title" href="#" target="_blank">
                                    Resource title
                                </a>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quos, eius nihil voluptatibus quis voluptatum corporis.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2>Funding</h2>
                            <div class="resources-item">
                                <a class="resources-item-title" href="#" target="_blank">
                                    Resource title
                                </a>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quos, eius nihil voluptatibus quis voluptatum corporis.
                            </div>
                            <div class="resources-item">
                                <a class="resources-item-title" href="#" target="_blank">
                                    Resource title
                                </a>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quos, eius nihil voluptatibus quis voluptatum corporis.
                            </div>
                            <div class="resources-item">
                                <a class="resources-item-title" href="#" target="_blank">
                                    Resource title
                                </a>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quos, eius nihil voluptatibus quis voluptatum corporis.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
