{% extends 'main/layout.html' %}

{% load static %}
{% load i18n %}

{% block content %}
    <div class="container weekends">
        <div class="row">
            <div class="col-md-3 weekends-sidebar">
                <div>
                    <ol>
                        <li><a href="#overview">Σχετικά</a></li>
                        <li><a href="#mentors">Μέντορες</a></li>
                        <li><a href="#schedule">Πρόγραμμα</a></li>
                        <li><a href="#judges">Κριτές</a></li>
                        <li><a href="#prizes">Βραβεία</a></li>
                        <li><a href="#sponsors">Χορηγοί</a></li>
                        <li><a href="#register">Εγγραφή</a></li>
                    </ol>
                </div>
            </div>
            <div class="col-md-9">
              <h1>Σαββατοκύριακο Καινοτομίας στις Αστικές Μεταφορές</h1>
                <div class="weekends-subtitle">28 - 30 Σεπτεμβρίου 2018</div>
                <div id="overview">
                </br>
                    <p><strong>Έχεις μια ιδέα σχετικά με τις βιώσιμες αστικές μεταφορές και θέλεις να την προωθήσεις, ένα πρόβλημα που θέλεις να λύσεις αλλά δεν ξέρεις από πού να ξεκινήσεις;</strong></p>
                    <p>Το Σαββατοκύριακο Καινοτομίας στις Αστικές Μεταφορές (ΣΚΑΜ) είναι το μέρος για να αναζητήσεις ομάδα, να δημιουργήσεις το πρωτότυπο, να επικυρώσεις την βιωσιμότητα της ιδέας σου και να ακούσεις συμβουλές από έμπειρους ανθρώπους που προέρχονται από το χώρο των μεταφορών και των επιχειρήσεων.</p></br>

                    <h3>Τι πρέπει να φέρεις</h3>
                    <p>Πολλή ενέργεια! Αρχικά θα παρουσιάσεις την ιδέα σου και θα ακούσεις άλλους να παρουσιάζουν, κατόπιν θα ψηφίσεις τις πιο ενδιαφέρουσες ιδέες και θα δημιουργήσεις ομάδα. Μπορείς να έρθεις με φίλους σου, αλλά καλύτερα να συμμετέχετε σε ξεχωριστές ομάδες.</p>

                    <p>Το πρόβλημα που θέτεις προς επίλυση πρέπει να καλύπτει θέματα σχετικά με τις αστικές μεταφορές και την χρήση νέων τεχνολογιών. Μπορείς να δεις αναλυτικά τις θεματικές <a data-toggle="modal" href="#subjects">εδώ</a>. Κατά τη διάρκεια του Σαββατοκύριακου, θα κληθείς να δημιουργήσεις ένα πρωτότυπο - δηλαδή ένα ελάχιστο βιώσιμο προϊόν - που θα ταιριάζει στις ανάγκες του πελάτη-στόχου σου. Θα έχεις καθοδήγηση κα συμβουλές, θα επαναπροσδιορίσεις την ιδέα σου και πιθανόν να διαμορφώσεις μια εξ ολοκλήρου νέα προσέγγισή</p>
                    <div id="subjects" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Θεματικές</h4>
                        </div>
                        <div class="modal-body small">
                          <h2>1. ΕΞΥΠΝΕΣ ΠΙΝΑΚΙΔΕΣ</h2>
                          <p>H χρήση των οδικών σημάτων είναι εκτενής τόσο εντός πόλεων όσο και σε μεγάλους δρόμους ταχείας κυκλοφορίας. Η παρουσία τους προωθεί την
                          συμμόρφωση των οδηγών προς τον κώδικα οδικής κυκλοφορίας, εξυπηρετώντας έτσι τις ανάγκες της οδικής αρχής.
                          Παρουσιάζεται, με την χρήση της τεχνολογίας του Internet of Things, η δυνατότητα μετατροπής των απλών πινακίδων σε πηγές άμεσης πληροφόρησης για τους
                          οδηγούς για ζητήματα που αφορούν στην οδική ασφάλεια και συμπεριφορά σε πραγματικό χρόνο, όπως επικίνδυνες καιρικές συνθήκες, ατυχήματα που έχουν
                          συμβεί, διέλευση οχημάτων έκτακτης ανάγκης κ.α. Το ζητούμενο είναι λοιπόν η ανεύρεση καινοτόμων λύσεων και εφαρμογών οι οποίες, αξιοποιώντας τις ήδη
                          υπάρχουσες υποδομές ή διευρύνοντάς τες, θα μπορούσαν να αποβούν σωτήριες για τους οδηγούς στους ελληνικούς δρόμους.</p>
                          <h2>2. ΕΞΥΠΝΟ ΠΑΡΚΙΝΓΚ</h2>
                          <p>Η παράνομη στάθμευση και η εν γένει έλλειψη χώρων στάθμευσης αποτελούν χρόνια προβλήματα για τους πολίτες και τους δήμους. Τα προβλήματα συνίστανται
                          μεταξύ άλλων στην έλλειψη γνώσης για τους ελεύθερους χώρους στάθμευσης από την πλευρά των πολιτών και στην αδυναμία επιτήρησης των θέσεων από την
                          εκάστοτε δημοτική αρχή. Αυτό προκαλεί αντίστοιχα αύξηση των σημείων συμφόρησης στο οδικό δίκτυο, απώλεια χρόνου και απώλεια εσόδων. Επομένως
                          οποιαδήποτε τεχνολογική λύση οφείλει να αντιμετωπίσει και τα δύο μέτωπα ταυτόχρονα: να παρέχει πληροφόρηση για την διαθεσιμότητα των κενών θέσεων
                          στους οδηγούς ενώ παράλληλα να παρέχει στην δημοτική αρχή ένα χρήσιμο εργαλείο για την συλλογή των τελών στάθμευσης και την έκδοση προστίμων εξ αποστάσεως.</p>
                          <h2>3. ΕΞΥΠΝΗ ΔΙΑΧΕΙΡΙΣΗ ΤΗΣ ΚΥΚΛΟΦΟΡΙΑΣ</h2>
                          <p>Οι παραβιάσεις του Κ.Ο.Κ. αποτελούν σήμερα το πιο σημαντικό πρόβλημα για την οδική ασφάλεια καθώς είναι η κύρια αιτία πρόκλησης τροχαίων ατυχημάτων. Η
                          ποικιλομορφία των παραβάσεων, από τις παραβιάσεις φωτεινού σηματοδότη και οδικών σημάτων μέχρι και την παράνομη στάθμευση σε λεοφωρειολωρίδα ή την
                          διπλή στάθμευση, συμβάλλει στην αυξημένη κίνηση στους δρόμους, στον εκνευρισμό των οδηγών καθώς και στην πρόκληση ατυχημάτων με μεγάλο υλικό
                          κόστος ή κόστος για την ανθρώπινη ζωή. Επιδιώκεται εν τέλει η ανεύρεση τεχνολογικών λύσεων για την παρακολούθηση τέτοιων παραβιάσεων, την άμεση
                          διευθέτησή τους και την εν γένει επιτήρηση.</p>
                          <h2>4. ΕΞΥΠΝΗ ΚΙΝΗΤΙΚΟΤΗΤΑ</h2>
                          <p>Ο σχεδιασμός των οδικών συγκοινωνιών είναι μια πολύπλοκη διαδικασία που είναι δύσκολο να αλλάξει και να προσαρμοστεί σε συνθήκες που προκύπτουν καθώς
                          στηρίζεται σε εικασίες. Η αστική ανάπτυξη δεν μπορεί να προβλεφθεί με ακρίβεια με αποτέλεσμα να υπάρχει αύξηση της κυκλοφοριακής συμφόρησης σε σημεία του
                          οδικού δικτύου που δεν είχαν συμπεριληφθεί στον αρχικό σχεδιασμό και ανεπαρκής κάλυψη των δημοσίων συγκοινωνιών. Είναι επιτακτική λοιπόν η παροχή
                          λύσεων και στα τρία στάδια του σχεδιασμού: Στην συλλογή των αρχικών δεδομένων και στατιστικών της κυκλοφορίας, στον ακριβή προσδιορισμό των
                          αναγκών αυτής και στην προσομοίωση πολλαπλών σεναρίων των αποτελεσμάτων του εκάστοτε έργου έτσι ώστε να υπάρχει κάλυψη για μελλοντικές ανάγκες.</p>
                          <h2>5. ΧΩΡΟΣ ΕΙΚΟΝΙΚΗΣ ΦΟΡΤΩΣΗΣ</h2>
                          <p>Ένα σοβαρό ζήτημα που καλούνται να αντιμετωπίσουν οι μεταφορικές εταιρίες είναι η ανεύρεση θέσεων φόρτωσης - εκφόρτωσης στο οδικό δίκτυο εντός του
                          αστικού συγκροτήματος. Συχνά τα οχήματα αναγκάζονται να σταθμεύουν σε δρόμους που είναι πολυσύχναστοι, παρακωλύοντας την κυκλοφορία, ή να
                          σπαταλούν πολύ χρόνο για ανεύρεση θέσης στάθμευσης. Λύση στο πρόβλημα αυτό μπορεί να δώσει μια εφαρμογή που θα δίνει στα επαγγελματικά οχήματα τη
                          δυνατότητα να κάνουν κράτηση για έναν χώρο εικονικής φόρτωσης (Virtual Loading Bay) για την στιγμή που θα τον χρειαστούν σε περιοχές της πόλης όπου ο χώρος
                          είναι περιορισμένος για τη στάθμευση των οχημάτων. Επίσης, με τη χρήση της συγκεκριμένης εφαρμογής υπάρχει η δυνατότητα επέκτασης του χρόνου
                          φορτοεκφόρτωσης (Virtual Loading Extension) σε περιοχές στις οποίες παρόλο που επιτρέπεται η φορτοεκφόρτωση ο χρόνος για να πραγματοποιηθεί είναι αρκετά
                          περιορισμένος.</p>
                          <h2>6. ΣΥΝΕΡΓΑΤΙΚΑ ΕΞΥΠΝΑ ΣΥΣΤΗΜΑΤΑ</h2>
                          <p>Η κυκλοφοριακή συμφόρηση είναι το κυριότερο πρόβλημα των μεγάλων αστικών κέντρων του σήμερα. Παρά τις προσπάθειες που γίνονται από τους αρμόδιους
                          φορείς οι επιπτώσεις στην καθημερινότητα των πολιτών παραμένουν ισχυρές. Θετική επίδραση προς αυτή την κατεύθυνση μπορεί να έχει η δημιουργία
                          εφαρμογών που χρησιμοποιούν συστήματα ITS. Τα ΙTS είναι συστήματα τα οποία επιτρέπουν στο όχημα να επικοινωνεί ασύρματα με άλλο όχημα ή με μια υποδομή.
                          Τα κυριότερα οφέλη αυτών των συστημάτων είναι η βελτίωση της διαχείρισης της κυκλοφορίας, η αύξηση της κυκλοφοριακής απόδοσης, η λιγότερη συμφόρηση στα
                          οδικά δίκτυα και η μείωση των ρυπογόνων εκπομπών. Τα οχήματα και η υποδομή που είναι εφοδιασμένα με ITS μπορούν, για παράδειγμα, να διαβιβάσουν μια
                          προειδοποίηση ο ένας στον άλλο, μετά από την οποία οι οδηγοί ενημερώνονται έγκαιρα για την επικείμενη κυκλοφοριακή κατάσταση ώστε να λάβουν τις
                          απαραίτητες ενέργειες για να αποφευχθούν πιθανές βλάβες.</p>
                          <h2>7. ΣΥΓΧΡΟΝΟΙ ΚΟΜΒΟΙ ΜΕΤΕΠΙΒΙΒΑΣΗΣ</h2>
                          <p>Τα μεγάλα αστικά κέντρα καλούνται όλο και πιο συχνά να ενσωματώσουν περισσότερα μέσα μαζικής μεταφοράς στο δίκτυο μετακινήσεων των κατοίκων
                          τους. Η δημιουργία συγκοινωνιακών κόμβων αποτελεί ένα κρίσιμο τμήμα των δημοσίων συγκοινωνιών, αφού επιτρέπουν στους ταξιδιώτες να διανύουν μακρινές
                          αποστάσεις, καθώς μειώνουν το χρόνο ταξιδιού και βελτιώνουν αισθητά την ποιότητα της παροχής υπηρεσιών. Επίσης, επιτυγχάνουν την ισχυρή συνεργασία
                          δημόσιου και ιδιωτικού τομέα, την αποδοτική υποδομή και την υψηλή δυνατότητα απόκτησης συμπληρωματικών εσόδων (όπως χώροι στάθμευσης, εμπορικοί χώροι),
                          καθώς και την ενσωμάτωση διαφορετικών τρόπων μεταφοράς και απαιτήσεων κινητικότητας με μειωμένο χρόνο μεταφοράς. Αναζητούνται τεχνολογικές λύσεις οι
                          οποίες θα υποστηρίζουν την δημιουργία τέτοιων κόμβων ενσωματώνοντας όσο το δυνατόν περισσότερα μέσα μαζικής μεταφοράς (τραμ, μετρό, τρένο, επιβατηγά
                          πλοία κ.α.)</p>
                          <h2>8. ΤΕΛΗ ΚΥΚΛΟΦΟΡΙΑΚΗΣ ΣΥΜΦΟΡΗΣΗΣ</h2>
                          <p>Tο ζήτημα της κυκλοφοριακής συμφόρησης στα μεγάλα αστικά κέντρα είναι πολυσύνθετο και δεν συνίσταται μόνο στην έλλειψη υποδομών. Μια συνολική
                          λύση απαιτεί την λήψη επιμέρους μέτρων που θα συμβάλλουν στην αντιμετώπιση του. Η χρέωση για τη συμφόρηση είναι ένα τέλος που χρεώνεται στα περισσότερα
                          αυτοκίνητα που κινούνται σε μια συγκεκριμένη ζώνη φόρτισης, κυρίως στα αστικά κέντρα, για κάποιες ώρες της ημέρας. Αυτή η οικονομική επιβάρυνση στοχεύει στη
                          μείωση της υψηλής ροής της κυκλοφορίας και της ρύπανσης σε κεντρικές περιοχές και στην αύξηση των επενδυτικών πόρων για το εκάστοτε σύστημα μεταφορών. Τα
                          παραπάνω επιτυγχάνονται καθώς οι κάτοικοι εξωθούνται να χρησιμοποιούν περισσότερο τα μέσα μαζικής μεταφοράς και τους εναλλακτικούς τρόπους
                          μετακίνησης στα αστικά κέντρα όπως ποδήλατο, περπάτημα. Κρίσιμη είναι η ανάπτυξη εφαρμογών που θα μπορούν να ελέγχουν την κίνηση των οχημάτων
                          εντός των ζωνών αποδίδοντας την χρέωση για την συμφόρηση με ορθό και άμεσο τρόπο.</p>
                          <h2>9. ΚΟΙΝΣΕΠ ΣΤΟΝ ΤΟΜΕΑ ΤΗΣ ΚΟΙΝΟΧΡΗΣΤΗΣ ΚΙΝΗΤΙΚΟΤΗΤΑΣ</h2>
                          <p>Ίδρυση εταιριών με την μορφή των ΚΟΙΝΣΕΠ (Κοινωνικές Συνεταιριστικές Επιχειρήσεις) που θα δραστηριοποιούνται στον τομέα των συστημάτων
                          κοινόχρηστης κινητικότητας (Car Sharing). Οι περιαστικοί Δήμοι της Θεσσαλονίκης αποτελούν ιδανικό πεδίο για την ανάπτυξη συστημάτων κοινόχρηστων
                          αυτοκινήτων που αποτελούν μια βιώσιμη εναλλακτική λύση έναντι στην κλασική ιδιοκτησία αυτοκινήτου. Οι μορφές που μπορούν να πάρουν είναι πολλές, κλαμπ
                          αυτοκινήτων, παραχώρηση χρήσης του Ι.Χ. τις ώρες που δεν χρειάζεται από τον ιδιοκτήτη του κλπ. Η χρήση σύγχρονων τεχνολογιών μπορεί να επιτρέψει την
                          λειτουργία ανάλογων συστημάτων κάνοντας φιλική την χρήση τους και λειτουργώντας καταλυτικά για την ανάπτυξη τους.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Κλείσιμο</button>
                        </div>
                      </div>
                    </div>
                  </div>

                    <p>Το Σαββατοκύριακο Καινοτομίας στις Αστικές Μεταφορές είναι μια μοναδική εμπειρία που περιλαμβάνει:</p>
                    <ul>
                        <li>Επικοινωνία με έμπειρους συμβούλους και ανθρώπους της αγοράς</li>
                        <li>Ένα νέο δίκτυο ανθρώπων προερχόμενων από τον χώρο των μεταφορών, προγραμματιστές, σχεδιαστές και επιχειρηματίες πρόθυμοι, όπως εσείς, να αλλάξουν τον κόσμο.</li>
                        <li>Ταχύτατη σύνδεση στο διαδίκτυο, φαγητό και απεριόριστο καφέ.</li>
                    </ul>

                    <p>Αν έχετε επιπλέον ερωτήσεις, μη διστάσετε να επικοινωνήσετε μαζί μας στο admin@okthess.gr με θέμα (ΣΚΑΜ).</p>
                </div>
                <br>
              <div id="mentors">
               <h2>Μέντορες</h2>
                 <div class="weekends-mentor-container">
                    <div class="col-md-2 weekends-mentor">
                     <img class="weekends-mentor-pic" src="/static/main/img/weekends/mobility/jmsalanova.jpg">
                    </div>
                    <div class="col-md-10">
                      <h3>Josep Maria Salanova</h3></br>
                      <h4>Πολιτικός Μηχανικός U.P.C.</h4></br>
                      <a href="#coach-1" class="btn-mentor" data-toggle="collapse">Βιογραφικό</a>
                      <p id="coach-1" class="weekends-mentor-bio small collapse">Ο Δρ. Josep Maria Salanova Grau είναι Διπλωματούχος Πολιτικός Μηχανικός U.P.C. (Universitat Politecnica de Catalunya - 2007) και κάτοχος
                      Μεταπτυχιακού τίτλου σπουδών στο Σχεδιασμό, Οργάνωση και Διαχείριση Συστημάτων μεταφορών του Αριστοτελείου Πανεπιστημίου Θεσσαλονίκης
                      (2008-2009). Το διάστημα 2010-2013 πραγματοποιήθηκε την διδακτορική διατριβή του στο Universitat Politecnica de Catalunya με τίτλο «modelling of
                      taxicab fleets in urban environment». Το 2017 ολοκλήρωσε το Data Science Specialization στο Johns Hopkins University. Εργάζεται ως Ερευνητής Γ
                      βαθμίδας στο Ινστιτούτο Βιώσιμης Κινητικότητας και Δικτύων Μεταφορών του Εθνικού Κέντρου Έρευνας και Τεχνολογικής Ανάπτυξης, όπου είναι
                      υπεύθυνος του εργαστηρίου “Συλλογή – διαχείριση δεδομένων / Διαμόρφωση αλγορίθμων και χρήση πακέτων σχεδιασμού των μεταφορών”. Κύριοι τομείς
                      εξειδίκευσης είναι οι αλγόριθμοι, τα μοντέλα, η κινητικότητα, οι συνδυασμένες εμπορευματικές μεταφορές και τα συστήματα Logistics ‘έτσι ‘όπως το Data
                      Science και το Big Data στις μεταφορές.</p>
                    </div>
                </div>
                <div class="weekends-mentor-container">
                    <div class="col-md-2 weekends-mentor">
                     <img class="weekends-mentor-pic" src="/static/main/img/weekends/mobility/ssalem.jpg">
                    </div>
                    <div class="col-md-10">
                      <h3>Σάμουελ Αλέξιος Σαλέμ</h3></br>
                      <h4>Πολιτικός Μηχανικός – Συγκοινωνιολόγος</h4></br>
                      <a href="#coach-2" class="btn-mentor" data-toggle="collapse">Βιογραφικό</a>
                      <p id="coach-2" class="weekends-mentor-bio small collapse">Ο Σάμουελ Αλέξιος Σαλέμ είναι Πολιτικός Μηχανικός - Συγκοινωνιολόγος ειδικευμένος σε συγκοινωνιακά και περιβαλλοντικά θέματα. Οι τομείς με τους οποίους ασχολείται είναι του
                      στρατηγικού σχεδιασμού, της ανάλυσης δεδομένων και των περιβαλλοντικών επιπτώσεων συγκοινωνιακών έργων<span id="dots">...</span><span id="more-2">
                        Απέκτησε το πτυχίο του πολιτικού μηχανικού στο Α.Π.Θ. (2002)
                        ενώ έχει και δύο μεταπτυχιακά, ένα στην προστασία περιβάλλοντος και τη βιώσιμη ανάπτυξη από το Α.Π.Θ. και ένα στα συγκοινωνιακά από το πανεπιστήμιο του
                        Southampton, UK. Έχει δουλέψει τρία χρόνια στο Ηνωμένο Βασίλειο (2006-2009) σε κοινοπραξία εταιριών συμβούλων μηχανικών (MottGifford) που είχε το συμβόλαιο για την
                        παροχή υπηρεσιών συμβούλου στρατηγικού και επιχειρησιακού σχεδιασμού κυκλοφοριακών έργων στην κομητεία του Hampshire. Την τριετία 2009-2012 εργάσθηκε
                        σαν ειδικός συνεργάτης – σύμβουλος σε περιβαλλοντικά και συγκοινωνιακά θέματα για το Δήμο Βέροιας. Έχει εργασθεί σε πληθώρα Ευρωπαϊκών έργων από το 7 ο πλαίσιο στήριξης
                        και έπειτα (NODES, T-TRANS, RAIL4SEE, FLOW, SUMPS-UP) ενώ έχει κατά καιρούς συνεργασθεί με το Ινστιτούτο Μεταφορών (ΙΜΕΤ) και το ΤΕΙ Θεσσαλίας ως εξωτερικός
                        συνεργάτης σε εθνικά, περιφερειακά και ευρωπαϊκά προγράμματα. Από το 2013 εργάζεται για το πρώην Συμβούλιο Αστικών Συγκοινωνιών Θεσσαλονίκης (ΣΑΣΘ) νυν Οργανισμού
                        Συγκοινωνιακού Έργου Θεσσαλονίκης που είναι επιφορτισμένος με τη σχεδιασμό και την εποπτεία λειτουργίας των Δημοσίων Συγκοινωνιών στην Μητροπολιτική Περιφέρεια
                        Θεσσαλονίκης παρέχοντας υπηρεσίες συγκοινωνιολόγου μηχανικού</p>
                    </div>
                </div>
                <div class="weekends-mentor-container">
                    <div class="col-md-2 weekends-mentor">
                     <img class="weekends-mentor-pic" src="/static/main/img/weekends/mobility/chvizmpa.jpg">
                    </div>
                    <div class="col-md-10">
                      <h3>Χρύσα Βίζμπα</h3></br>
                      <h4>Τοπογράφος Μηχανικός – Συγκοινωνιολόγος</h4></br>
                      <a href="#coach-3" class="btn-mentor" data-toggle="collapse">Βιογραφικό</a>
                      <p id="coach-3" class="weekends-mentor-bio small collapse">H κα. Χρύσα Βίζμπα είναι Τοπογράφος Μηχανικός – Συγκοινωνιολόγος με εξειδίκευση σε συγκοινωνιακά και περιβαλλοντικά ζητήματα. Οι βασικοί τομείς ενασχόλησής της είναι ο
                      στρατηγικός σχεδιασμός και η ανάλυση δεδομένων συγκοινωνιακών έργων και συστημάτων μεταφορών. Έχει πτυχίο Αγρονόμου –Τοπογράφου Μηχανικού (2007) και δύο
                        μεταπτυχιακούς τίτλους σπουδών, στην προστασία περιβάλλοντος και βιώσιμη ανάπτυξη (2008) και στο σχεδιασμό συστημάτων μεταφορών (2009). Εργάστηκε σε εταιρίες
                        συμβούλων από το 2007 ενώ από το 2010 εργαζόταν στο Συμβούλιο Αστικών Συγκοινωνιών Θεσσαλονίκης (ΣΑΣΘ), νυν Οργανισμός Συγκοινωνιακού Έργου Θεσσαλονίκης (ΟΣΕΘ).
                        Εξειδικεύεται σε θέματα βιώσιμης αστικής κινητικότητας, σχεδιασμό και εποπτεία δημόσιων συγκοινωνιακών συστημάτων μεταφορών, έξυπνα συστήματα μεταφορών,
                        έρευνες και ανάλυση δεδομένων, μέσα σταθερής τροχιάς, ποιότητα δημοσίων μεταφορών. Έχει επίσης εργαστεί σε πληθώρα συγχρηματοδοτούμενων και μη εθνικών και ευρωπαϊκών
                        έργων και προγραμμάτων (EPTA, ECOTALE, ATTAC, SUMPs- Up, SUNRISE, CIVITAS κα).</p>
                    </div>
                </div>
                <div class="weekends-mentor-container">
                    <div class="col-md-2 weekends-mentor">
                     <img class="weekends-mentor-pic" src="/static/main/img/weekends/mobility/emanos.jpg">
                    </div>
                    <div class="col-md-10">
                      <h3>Ευστράτιος Μάνος</h3></br>
                      <h4>Αρχιτέκτων - Πολεοοδόμος</h4></br>
                      <a href="#coach-4" class="btn-mentor" data-toggle="collapse">Βιογραφικό</a>
                      <p id="coach-4" class="weekends-mentor-bio small collapse">Αρχιτέκτων - Πολεοδόμος, MSc Περιβαλλοντικού Σχεδιασμού, εμπειρογνώμονας σε θέματα Ολοκληρωμένης Αστικής Ανάπτυξης και χρηματοοικονομικής μηχανικής για την Αστική Ανάπτυξη,
                      την Χωρική Ανάπτυξη και την Ευρωπαϊκή Εδαφική Συνεργασία. Αποτελεί ιδρυτικό μέλος του Κοινωνικού Καταναλωτικού Συνεταιρισμού BIOSCOOP στην Θεσσαλονίκη και μέλος του Εποπτικού του Συμβουλίου. Ως μέλος της Μόνιμης
                        Επιτροπής Ανταγωνιστικότητας, Επιχειρηματικότητας και Καινοτομίας του ΤΕΕ, τμήμα Κεντρικής Μακεδονίας, προωθεί την νέα και καινοτόμα επιχειρηματικότητα, η οποία κυρίως λαμβάνει χώρα σε αστικά περιβάλλοντα.
                        Ως Πιστοποιημένος Ενεργειακός Επιθεωρητής, ενδιαφέρεται για την προώθηση της εξοικονόμησης ενέργειας και των ΑΠΕ. Είναι Πιστοποιημένος Εκπαιδευτής Ενηλίκων στο Εθνικό Κέντρο Δημόσιας Διοίκησης και Αυτοδιοίκησης (ΕΚΔΔΑ),
                        σε θέματα Πολιτικής Συνοχής της Ευρωπαϊκής Ένωσης, Επιχειρησιακού Σχεδιασμού και Αστικής Ανάπτυξης.</p>
                    </div>
                </div>
                <div class="weekends-mentor-container">
                    <div class="col-md-2 weekends-mentor">
                     <img class="weekends-mentor-pic" src="/static/main/img/weekends/mobility/ndamianos.jpg">
                    </div>
                    <div class="col-md-10">
                      <h3>Νίκος Δαμιανός</h3></br>
                      <h4>Αντιπρόεδρος Link Technologies A.E.</h4></br>
                      <a href="#coach-5" class="btn-mentor" data-toggle="collapse">Βιογραφικό</a>
                      <p id="coach-5" class="weekends-mentor-bio small collapse">Ο Νίκος Δαμιανός είναι Αντιπρόεδρος στη Link Technologies Α.Ε, και μέλος του Διοικητικού Συμβουλίου. Έχει τρέξει πολλαπλά έργα ITS
                      στην Ελλάδα αλλά και στο εξωτερικό, όπως το έργο "Παρακολούθηση Στόλου και Ενημέρωση Επιβατών" για το
                      συγκοινωνιακό οργανισμό λεωφορείων SM στη Σεμπού, Φιλιππίνες, και "Παρακολούθηση Στόλου, Ενημέρωση Επιβατών, και Αυτόματο
                      Σύστημα Φαναριών" για τον οργανισμό BRT στη Μπανγκόκ,Ταϊλάνδη. Ταυτόχρονα δραστηριοποιείται στο χώρο της έρευνας,
                      οργανώνοντας διεθνείς κοινοπραξίες για Ευρωπαϊκά έργα.</p>
                    </div>
                </div>
                <div class="weekends-mentor-container">
                    <div class="col-md-2 weekends-mentor">
                     <img class="weekends-mentor-pic" src="/static/main/img/weekends/mobility/kvavatsoulas.jpg">
                    </div>
                    <div class="col-md-10">
                      <h3>Κώστας Βαβατσούλας</h3></br>
                      <h4>Τοπογράφος Μηχανικός – Συγκοινωνιολόγος</h4></br>
                      <a href="#coach-6" class="btn-mentor" data-toggle="collapse">Βιογραφικό</a>
                      <p id="coach-6" class="weekends-mentor-bio small collapse">Κάτοχος διπλώματος Α.Τ.Μ. της Πολυτεχνικής Σχολής Α.Π.Θ. (2010) με μία σύντομη περίοδο 3 ετών εργαζόμενος κατά τη διάρκεια των σπουδών σε τεχνικό και μελετητικό γραφείο τοπογράφων
                      μηχανικών στη Θεσσαλονίκη και απασχολούμενος σε διάφορα έργα και μελέτες όπως την πρώτη φάση της ανάπλασης της Νεας Παραλίας και δημιουργία ΧΥΤΑ στη Νιγρίτα Σερρών. Επιπλέον
                      εξειδίκευση στα συγκοινωνιακά με μεταπτυχιακό τίτλο από το Τεχνολογικό Πανεπιστήμιο της Δανίας (MSc in Transportation &amp; Logistics, DTU, 2012) και στη συνέχεια μετοίκισε στη Γλασκώβη
                      Σκωτίας, όπου εργάζεται τα τελευταία 6 χρόνια με σημερινή θέση στη JACOBS Engineering Group ως μηχανικός στο σχεδιασμό και εποπτεία οδικών έργων και συγκοινωνιών, με έμφαση στη
                      βιώσιμη κινητηκότητα και το σχεδιασμό ποδηλατόδρομων σε τοπικό, εθνικό και παγκόσμιο επίπεδο. Πρόσφατες μελέτες και έργα περιλαμβάνουν: (1) Μελέτη και κατασκευή 5 χλμ
                      ποδηλατόδρομου στο εθνικό δίκτυο NCN78, ολοκληρώνοντας μία χρόνια προσπάθεια του φορέα και πελάτη Sustrans να ολοκληρώσει μια διαδρομή 380 χλμ συνολικά (Campbeltown – Oban –
                      Inverness), (2) τεχνική διαβούλευση στο σχεδιαμό ποδηλατικού δικτύου για το Sharjah Urban Planning Council (Ηνωμένα Αραβικά Εμιράτα), (3) ανανέωση του οδηγού προδιαγραφών για
                      ποδηλατόδρομους (Cycling by Design), (4) μελέτη και σχεδιασμός για σηματοδότηση για την περιφερειακή του Aberdeen ( AWPR ) και ITS στον οδικό άξωνα A9 Perth to Inverness για την
                      Transport Scotland και (5) μελέτη αξιολόγησης συγκοινωνιακών επιπτώσεων στην περιφέρεια και πόλη του Εδιμβούργου συνοδευόμενη από προτάσεις επίλυσεις σύνδεσης για ανακούφιση του
                      οδικού δικτύου με έμφαση στις δημόσιες συγκοινωνίες ( SESplan Cross Boundary Study ), σε συνδυασμό με τη μελέτη λειτουργίας και βελτίωσης της περιφερειακής οδού Α720 του
                      Εδιμβούργου. Εκτός εργασίας δραστηριοποιέιται σαν μέλος της τεχνικής επιτροπής του CIHT Scotland έχοντας διατελέσει χρέη Young Professionals Chair και Deputy Honorary Secretary, ενώ
                      επίσης είναι συμβεβλημένος STEM Ambassador οργανώντας παρουσιάσεις και λειτουργώντας σαν μέντορας για τον επαγγελματικό προσανατολισμό σε σχολεία και διαγωνισμούς όπως το Go4SET.</p>
                    </div>
                </div>
              </div>
              <div id="schedule">
              </br>
                    <h2>Πρόγραμμα</h2>
                    </br>
                    <button class="accordion weekends-schedule-header" id="red">Παρασκευή 28 Σεπτεμβρίου</button>
                     <div class="panel">
                        <div class="panel-inner">
                          <div class="weekends-schedule-content">
                              <div class="weekends-schedule-content-item">
                                  <div class="weekends-schedule-content-item-time">5:30πμ</div>
                                  <div class="weekends-schedule-content-item-what">Προσέλευση</div>
                              </div>
                              <div class="weekends-schedule-content-item">
                                  <div class="weekends-schedule-content-item-time">6:00πμ</div>
                                  <div class="weekends-schedule-content-item-what">Εναρκτήρια ομιλία</div>
                              </div>
                              <div class="weekends-schedule-content-item">
                                  <div class="weekends-schedule-content-item-time">6:15πμ</div>
                                  <div class="weekends-schedule-content-item-what">Παρουσίαση συμμετεχόντων - 1’ ομιλία από το κάθε συμμετέχοντα</div>
                              </div>
                              <div class="weekends-schedule-content-item">
                                  <div class="weekends-schedule-content-item-time">6:45πμ</div>
                                  <div class="weekends-schedule-content-item-what">Θεματικές ομιλίες στον τομέα των μεταφορών</div>
                              </div>
                              <div class="weekends-schedule-content-item">
                                  <div class="weekends-schedule-content-item-time">7:15πμ</div>
                                  <div class="weekends-schedule-content-item-what">Παρουσίαση ιδέων &amp; δημιουργία ομάδων</div>
                              </div>
                              <div class="weekends-schedule-content-item">
                                  <div class="weekends-schedule-content-item-time">8:00πμ</div>
                                  <div class="weekends-schedule-content-item-what">Ελαφρύ δείπνο</div>
                              </div>
                          </div>

                        </div>
                     </div>
                    <button class="accordion weekends-schedule-header" id="black">Σάββατο 29 Σεπτεμβρίου</button>
                     <div class="panel">
                       <div class="panel-inner">
                        <div class="weekends-schedule-content">
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">10:00πμ</div>
                                <div class="weekends-schedule-content-item-what">Προσέλευση &amp; πρωϊνό</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">11:00πμ</div>
                                <div class="weekends-schedule-content-item-what">Σχεδιασμός λύσης</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">12:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Συζήτηση με τους μέντορες</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">2:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Γεύμα</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">3:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Υλοποίηση λύσης</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">7:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Ελαφρύ δείπνο</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">10:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Λήξη ημέρας</div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <button class="accordion weekends-schedule-header" id="blue">Κυριακή 30 Σεπτεμβρίου</button>
                     <div class="panel">
                       <div class="panel-inner">
                        <div class="weekends-schedule-content">
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">10:00πμ</div>
                                <div class="weekends-schedule-content-item-what">Προσέλευση &amp; πρωϊνό</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">11:00πμ</div>
                                <div class="weekends-schedule-content-item-what">Υλοποίηση λύσης</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">12:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Συζήτηση με τους μέντορες</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">2:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Γεύμα</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">3:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Προετοιμασία τελικής παρουσίασης</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">5:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Τελική παρουσίαση</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">7:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Ελαφρύ δείπνο</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">8:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Τελετή λήξης</div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
              <div id="judges">
               </br></br>
               <h2>Κριτική επιτροπή</h2>
               <p>Η πενταμελής κριτική επιτροπή θα αποτελείται από μέλη των οργανισμών που υποστηρίζουν το τριήμερο. Η σύνθεση της επιτροπής θα ανακοινωθεί στο παρόν website πριν την έναρξη του 3ημέρου.</p>
              </div>
              <div id="prizes">
               </br>
               <h2>Βραβεία</h2>
                    <ul>
                      <li class="h3">1<sup>η</sup> Θέση – €900 Μετρητά</li></br>
                      <li class="h4">2<sup>η</sup> Θέση – €300 Μετρητά</li></br>
                      <li class="h5">3<sup>η</sup> Θέση – €300 Μετρητά</li>
                    </ul>
                  </br>
                <p class="small">*  Εκτός από το χρηματικό έπαθλο οι ομάδες που θα αποφασίσουν να προχωρήσουν περεταίρω στην υλοποίηση της ιδέας τους διασφαλίζουν συμβουλευτική υποστήριξη (mentoring) από τον χορηγό των χρηματικών βραβείων Link Technologies S.A.</p>
                <p class="small">** H αποδοχή και λήψη των βραβείων περιλαμβάνει την υποχρέωση πρώτης διερεύνησης χρηματοδότησης του επενδυτικού τους σχεδίου, από την Link Technologies S.A.</p>
                </br>
                <h3>Κριτήρια αξιολόγησης</h3>
                </br>
                 <p>Οι προτάσεις – ιδέες θεματικά πρέπει να ανήκουν στον τομέα των καινοτόμων αστικών μεταφορών προσώπων και αγαθών. Η συγκεκριμένη απαίτηση δεν βαθμολογείται αλλά θα λειτουργήσει σαν προϋπόθεση για να αξιολογηθεί μια πρόταση - ιδέα.</p>
                    <ul>
                        <li><strong>Εφικτότητα</strong> (Feasibility):<small> Η πρόταση – ιδέα θα πρέπει να είναι εφαρμόσιμη λαμβάνοντας υπόψη τεχνολογικούς και νομικούς περιορισμούς.</small></li>
                        <li><strong>Περιβαλλοντική Βιωσιμότητα</strong> (Sustainability):<small> Η πρόταση – ιδέα θα πρέπει να έχει θετικό ή ουδέτερο περιβαλλοντικό αποτύπωμα σε όλο το κύκλο ζωής της.</small></li>
                        <li><strong>Οικονομική Βιωσιμότητα</strong> (Economic Viability):<small> Η πρόταση – ιδέα θα πρέπει να είναι βιώσιμη οικονομικά και με προοπτική κερδοφορίας.</small></li>
                    </ul>
                  <p>Η κριτική επιτροπή θα συνεδριάσει την Κυριακή 30 Σεπτεμβρίου το απόγευμα αφού παρακολουθήσει τις παρουσιάσεις των συμμετεχόντων. Τα βραβεία θα απονεμηθούν το βράδυ της Κυριακής 30 Σεπτεμβρίου.</p>
                </div>
              <div id="sponsors">
               </br></br>
               <h2>Χορηγοί</h2>
               <a href="http://link-tech.gr/" target="_blank"><img class="weekends-sponsor" src="/static/main/img/weekends/mobility/link-logo.png"></a>
               <img class="weekends-sponsor" src="/static/main/img/weekends/mobility/OSETH-logo.png">
               <a href="https://okthess.gr/" target="_blank"><img class="weekends-sponsor" src="/static/main/img/weekends/mobility/okthess-logo.png"></a>
              </div>
              <div class="form" id="register">
                  <form action="{% url 'main:weekends' %}" method="post">
                      {% csrf_token %}
                      {{ form.non_field_errors }}
                      </br></br>
                      <h2>Αίτηση συμμετοχής</h2>
                    </br>
                      <div class="form-group">
                          <label for="id_first_name">
                              Όνομα
                          </label>
                          <textarea name="first_name" cols="50" rows="1" class="form-control" required="required" id="id_first_name"></textarea>
                      </div>
                      <div class="form-group">
                          <label for="id_last_name">
                              Επώνυμο
                          </label>
                          <textarea name="last_name" cols="50" rows="1" class="form-control" required="required" id="id_last_name"></textarea>
                      </div>
                      <div class="form-group">
                          <label for="id_email">
                              email επικοινωνίας
                          </label>
                          <input type="email" name="email" class="form-control" maxlength="100" required="required" id="id_email">
                      </div>
                      <div class="form-group">
                          <label for="id_specialization">
                              Εξειδίκευση π.χ. Transport engineer, developer κτλ
                          </label>
                          <textarea name="specialization" cols="50" rows="1" class="form-control" required="required" id="specialization"></textarea>
                      </div>
                      <div class="form-group">
                          <label for="id_accept_terms">
                              Έχω διαβάσει και αποδέχομαι τους <a data-toggle="modal" href="#myModal">όρους</a> των διοργανωτών. <input type="checkbox" name="accept_terms" class="regular-chackbox" required="required" id="id_accept_terms">
                          </label>
                          <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Όροι Συμμετοχής</h4>
                              </div>
                              <div class="modal-body small">
                                <p><strong>1. H αποδοχή και λήψη των βραβείων περιλαμβάνει την υποχρέωση πρώτης διερεύνησης χρηματοδότησης του επενδυτικού τους σχεδίου, από την Link Technologies S.A.</strong></p>
                                <p><strong>2.</strong> Δικαίωμα συμμετοχής έχουν όλοι όσοι ενδιαφέρονται. Προτείνεται η συμμετοχή σε όσους είναι σχετικοί με το αντικείμενο των μεταφορών.</p>
                                <p><strong>3.</strong> Οι συμμετέχοντες θα μετέχουν σε ομάδες με μέγιστο αριθμό τα έξι (6) άτομα.</p>
                                <p><strong>4.</strong> Η προτεινόμενη λύση θα πρέπει να αναπτυχθεί κατά τη διάρκεια του διαγωνισμού και μόνο ενόσω τα μέλη της ομάδας βρίσκονται στο χώρο διενέργειας του διαγωνισμού.</p>
                                <p><strong>5.</strong> Σε περίπτωση που η λύση περιλαμβάνει κώδικα εφαρμογής, αυτός θα πρέπει να ανεβαίνει σταδιακά σε repository της Ομάδας στο GitHub. Σε περίπτωση που το έργο είναι πακέτο λογισμικού που προέρχεται από compilation (πχ Mobile App, Software κτλ) εκτός από τον πηγαίο κώδικα που δημιουργεί το compiled αρχείο θα πρέπει στο GitHub να ανέβει και το ίδιο το compiled αρχείο. Εφαρμογές που θα έχουν γίνει με ελάχιστα μόνο commits δύναται να ακυρωθούν από την επιτροπή.</p>
                                <p><strong>6.</strong> Παρουσίαση κώδικα που δεν έχει αναπτυχθεί από την ομάδα ως κώδικα της ομάδας θα καταλήγει σε αποκλεισμό της ομάδας από το διαγωνισμό.</p>
                                <p><strong>7.</strong> Η πρωτοτυπία της εφαρμογής και της λύσης, η αλγοριθμική προσέγγιση στο πρόβλημα και η ποιότητα του κώδικα θα ληφθούν υπόψη στην τελική αξιολόγηση.</p>
                                <p><strong>8.</strong> Ενθαρρύνεται και θα αξιολογηθεί θετικά η χρήση ανοιχτών δεδομένων (Open Data).</p>
                                <p><strong>9.</strong> Ενθαρρύνεται και θα αξιολογηθεί θετικά η χρήση Web Services (πχ REST APIs) που προσφέρονται δωρεάν από διάφορους παρόχους.</p>
                                <p><strong>10.</strong> Η νικήτριες ομάδες θα αποφασιστούν από επιτροπή, η σύνθεση της οποίας θα ανακοινωθεί αργότερα.</p>
                                <p><strong>11.</strong> Ενστάσεις για την απόφαση της επιτροπής δε γίνονται δεκτές.</p>
                                <p><strong>12.</strong> Συμμετέχοντας στον διαγωνισμό δηλώνετε ότι αποδέχεστε το δικαίωμα των διοργανωτών να προωθήσουν ή να εκμεταλλευτούν εικόνες, βίντεο, ηχητικό υλικό και γενικά multimedia υλικό που θα ληφθεί κατά τη διάρκεια του hackathon στο οποίο ενδέχεται να εμφανίζονται τα μέλη των ομάδων.</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Κλείσιμο</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button id="register" type="submit" class="btn-form" onclick="ga('send', 'event', 'weekend', 'submission', {'NonInteraction': 1});">{% trans 'Submit' %}</button>
                      <script type="text/javascript">
                          var button = document.getElementById('register');
                          button.addEventListener(
                          'click',
                          function() {
                            fbq('track', 'WeekendRegistration');
                          },
                          false
                          );
                      </script>
                  </form>
                </div>
            </div>
            <script>
                var accordionElems = document.getElementsByClassName('accordion');
                var i = 0;
                for (i = 0; i < accordionElems.length; i++) {
                    accordionElems[i].onclick = function () {
                        this.classList.toggle('active');
                        var panel = this.nextElementSibling;
                        if (panel.style.maxHeight) {
                            panel.style.maxHeight = null;
                        } else {
                            panel.style.maxHeight = panel.scrollHeight + 'px';
                        }
                    }
                }

                function openPanel() {
                    var elemId = document.location.hash.slice(1);
                    var hashElem = document.getElementById(elemId);
                    hashElem.click();
                }
                window.addEventListener('hashchange', openPanel, false);
                openPanel();
            </script>
        </div>
    </div>
{% endblock %}
