{% extends 'main/layout.html' %}

{% load static %}
{% load i18n %}

{% block content %}
    <div class="container weekends">
        <div class="row">
            <div class="col-md-3 weekends-sidebar">
                <div>
                    <ol>
                        <li><a href="#overview">Σχετικά</a></li>
                        <li><a href="#mentors">Μέντορες</a></li>
                        <li><a href="#schedule">Πρόγραμμα</a></li>
                        <li><a href="#judges">Κριτές</a></li>
                        <li><a href="#prizes">Έπαθλα</a></li>
                        <li><a href="#sponsors">Χορηγοί</a></li>
                        <li><a href="#register">Εγγραφή</a></li>
                    </ol>
                </div>
            </div>
            <div class="col-md-9">
              <h1>Σαββατοκύριακο Καινοτομίας στις Αστικές Μεταφορές</h1>
                <div class="weekends-subtitle">28 - 30 Σεπτεμβρίου 2018</div>
                <div id="overview">
                    <p><strong>Έχετε μια ιδέα σχετικά με τις βιώσιμες αστικές μεταφορές  που θέλετε να προωθήσετε ή ένα πρόβλημα που θέλετε να λύσετε, αλλά δεν ξέρετε από πού να ξεκινήσετε ή από ποιον να ξεκινήσετε;</strong></p>
                    <p>Το Σαββατοκύριακο Καινοτομίας στις Αστικές Μεταφορές (ΣΚΑΜ) είναι το μέρος για να αναζητήσετε μια ομάδα, να δημιουργήσετε το πρωτότυπο της ιδέας σας, να επικυρώσετε την επιχειρηματική σας ιδέα και να λάβετε πληροφορίες από έμπειρους ανθρώπους που προέρχονται από το χώρο των μεταφορών και των επιχειρήσεων, όλα σε ένα Σαββατοκύριακο.</p>

                    <h4>Τι πρέπει να φέρετε</h4>
                    <p>Πολλή ενέργεια! Θα θέσετε τη δική σας ιδέα ή θα ακούσετε άλλους, κατόπιν θα ψηφίσετε τις πιο ενδιαφέρουσες ιδέες και θα διαμορφώσετε ομάδες με διαφορετικά σύνολα δεξιοτήτων. Μπορείτε να έρθετε με φίλους σας, αλλά καλύτερα να συμμετέχετε σε ξεχωριστές ομάδες. Θυμηθείτε, τα πάντα είναι θέμα ομάδας.</p>
                    <p>Η ιδέα που βάζετε και το πρόβλημα που θέτετε για επίλυση θα πρέπει να καλύψει θέματα σχετικά με τις αστικές μεταφορές και την χρήση νέων τεχνολογιών σε αυτές. Κατά τη διάρκεια του Σαββατοκύριακου, θα κληθείτε να δημιουργήσετε ένα πρωτότυπο δηλαδή ένα ελάχιστο βιώσιμο προϊόν που θα ταιριάζει στις ανάγκες του πελάτη-στόχου σας. Θα λάβετε καθοδήγηση κα συμβουλές, θα επαναπροσδιορίσετε την ιδέα σας και πιθανόν να διαμορφώσετε μια νέα προσέγγισή εξ ολοκλήρου!</p>
                    <p>Το Σαββατοκύριακο Καινοτομίας στις Αστικές Μεταφορές είναι μια μοναδική εμπειρία που περιλαμβάνει:</p>
                    <ul>
                        <li>7 πλήρη (και νόστιμα) γεύματα κατά τη διάρκεια του Σαββατοκύριακου</li>
                        <li>Επικοινωνία με καταπληκτικούς συμβούλους</li>
                        <li>Ένα νέο δίκτυο ανθρώπων προερχόμενων από τον χώρο των μεταφορών, προγραμματιστές, σχεδιαστές και επιχειρηματίες πρόθυμοι, όπως εσείς, να αλλάξουν τον κόσμο.</li>
                        <li>Όλο το διαδίκτυο και τον καφέ που μπορείτε να καταναλώσετε.</li>
                    </ul>

                    <p>Αν έχετε ερωτήσεις, μη διστάσετε να επικοινωνήσετε μαζί μας στο REFERENCE EMAIL</p>
                    <p>Μην περιμένετε πια και δηλώστε συμμετοχή στο Σαββατοκύριακο Καινοτομίας στις Αστικές Μεταφορές!</p>
                    <p>Καμία άλλη συζήτηση, τώρα μόνο δράση!</p>
                </div>
                <br>
              <div id="mentors">
               <h2>Μέντορες</h2>
                 <div class="weekends-mentor-container">
                    <div class="col-md-2 weekends-mentor">
                     <img class="weekends-mentor-pic" src="/static/main/img/weekends/mobility/jmsalanova.jpg">
                    </div>
                    <div class="col-md-10">
                      <h3>Josep Maria Salanova</h3></br>
                      <h4>Πολιτικός Μηχανικός U.P.C.</h4></br>
                      <a href="#coach-1" class="btn-mentor" data-toggle="collapse">Βιογραφικό</a>
                      <p id="coach-1" class="weekends-mentor-bio small collapse">Ο Δρ. Josep Maria Salanova Grau είναι Διπλωματούχος Πολιτικός Μηχανικός U.P.C. (Universitat Politecnica de Catalunya - 2007) και κάτοχος
                      Μεταπτυχιακού τίτλου σπουδών στο Σχεδιασμό, Οργάνωση και Διαχείριση Συστημάτων μεταφορών του Αριστοτελείου Πανεπιστημίου Θεσσαλονίκης
                      (2008-2009). Το διάστημα 2010-2013 πραγματοποιήθηκε την διδακτορική διατριβή του στο Universitat Politecnica de Catalunya με τίτλο «modelling of
                      taxicab fleets in urban environment». Το 2017 ολοκλήρωσε το Data Science Specialization στο Johns Hopkins University. Εργάζεται ως Ερευνητής Γ
                      βαθμίδας στο Ινστιτούτο Βιώσιμης Κινητικότητας και Δικτύων Μεταφορών του Εθνικού Κέντρου Έρευνας και Τεχνολογικής Ανάπτυξης, όπου είναι
                      υπεύθυνος του εργαστηρίου “Συλλογή – διαχείριση δεδομένων / Διαμόρφωση αλγορίθμων και χρήση πακέτων σχεδιασμού των μεταφορών”. Κύριοι τομείς
                      εξειδίκευσης είναι οι αλγόριθμοι, τα μοντέλα, η κινητικότητα, οι συνδυασμένες εμπορευματικές μεταφορές και τα συστήματα Logistics ‘έτσι ‘όπως το Data
                      Science και το Big Data στις μεταφορές.</p>
                    </div>
                </div>
                <div class="weekends-mentor-container">
                    <div class="col-md-2 weekends-mentor">
                     <img class="weekends-mentor-pic" src="/static/main/img/weekends/mobility/jmsalanova.jpg">
                    </div>
                    <div class="col-md-10">
                      <h3>Σάμουελ Αλέξιος Σαλέμ</h3></br>
                      <h4>Πολιτικός Μηχανικός – Συγκοινωνιολόγος</h4></br>
                      <a href="#coach-2" class="btn-mentor" data-toggle="collapse">Βιογραφικό</a>
                      <p id="coach-2" class="weekends-mentor-bio small collapse">Ο Σάμουελ Αλέξιος Σαλέμ είναι Πολιτικός Μηχανικός - Συγκοινωνιολόγος ειδικευμένος σε συγκοινωνιακά και περιβαλλοντικά θέματα. Οι τομείς με τους οποίους ασχολείται είναι του
                      στρατηγικού σχεδιασμού, της ανάλυσης δεδομένων και των περιβαλλοντικών επιπτώσεων συγκοινωνιακών έργων<span id="dots">...</span><span id="more-2">
                        Απέκτησε το πτυχίο του πολιτικού μηχανικού στο Α.Π.Θ. (2002)
                        ενώ έχει και δύο μεταπτυχιακά, ένα στην προστασία περιβάλλοντος και τη βιώσιμη ανάπτυξη από το Α.Π.Θ. και ένα στα συγκοινωνιακά από το πανεπιστήμιο του
                        Southampton, UK. Έχει δουλέψει τρία χρόνια στο Ηνωμένο Βασίλειο (2006-2009) σε κοινοπραξία εταιριών συμβούλων μηχανικών (MottGifford) που είχε το συμβόλαιο για την
                        παροχή υπηρεσιών συμβούλου στρατηγικού και επιχειρησιακού σχεδιασμού κυκλοφοριακών έργων στην κομητεία του Hampshire. Την τριετία 2009-2012 εργάσθηκε
                        σαν ειδικός συνεργάτης – σύμβουλος σε περιβαλλοντικά και συγκοινωνιακά θέματα για το Δήμο Βέροιας. Έχει εργασθεί σε πληθώρα Ευρωπαϊκών έργων από το 7 ο πλαίσιο στήριξης
                        και έπειτα (NODES, T-TRANS, RAIL4SEE, FLOW, SUMPS-UP) ενώ έχει κατά καιρούς συνεργασθεί με το Ινστιτούτο Μεταφορών (ΙΜΕΤ) και το ΤΕΙ Θεσσαλίας ως εξωτερικός
                        συνεργάτης σε εθνικά, περιφερειακά και ευρωπαϊκά προγράμματα. Από το 2013 εργάζεται για το πρώην Συμβούλιο Αστικών Συγκοινωνιών Θεσσαλονίκης (ΣΑΣΘ) νυν Οργανισμού
                        Συγκοινωνιακού Έργου Θεσσαλονίκης που είναι επιφορτισμένος με τη σχεδιασμό και την εποπτεία λειτουργίας των Δημοσίων Συγκοινωνιών στην Μητροπολιτική Περιφέρεια
                        Θεσσαλονίκης παρέχοντας υπηρεσίες συγκοινωνιολόγου μηχανικού</p>
                    </div>
                </div>
                <div class="weekends-mentor-container">
                    <div class="col-md-2 weekends-mentor">
                     <img class="weekends-mentor-pic" src="/static/main/img/weekends/mobility/chvizmpa.jpg">
                    </div>
                    <div class="col-md-10">
                      <h3>Χρύσα Βίζμπα</h3></br>
                      <h4>Τοπογράφος Μηχανικός – Συγκοινωνιολόγος</h4></br>
                      <a href="#coach-3" class="btn-mentor" data-toggle="collapse">Βιογραφικό</a>
                      <p id="coach-3" class="weekends-mentor-bio small collapse">H κα. Χρύσα Βίζμπα είναι Τοπογράφος Μηχανικός – Συγκοινωνιολόγος με εξειδίκευση σε συγκοινωνιακά και περιβαλλοντικά ζητήματα. Οι βασικοί τομείς ενασχόλησής της είναι ο
                      στρατηγικός σχεδιασμός και η ανάλυση δεδομένων συγκοινωνιακών έργων και συστημάτων μεταφορών. Έχει πτυχίο Αγρονόμου –Τοπογράφου Μηχανικού (2007) και δύο
                        μεταπτυχιακούς τίτλους σπουδών, στην προστασία περιβάλλοντος και βιώσιμη ανάπτυξη (2008) και στο σχεδιασμό συστημάτων μεταφορών (2009). Εργάστηκε σε εταιρίες
                        συμβούλων από το 2007 ενώ από το 2010 εργαζόταν στο Συμβούλιο Αστικών Συγκοινωνιών Θεσσαλονίκης (ΣΑΣΘ), νυν Οργανισμός Συγκοινωνιακού Έργου Θεσσαλονίκης (ΟΣΕΘ).
                        Εξειδικεύεται σε θέματα βιώσιμης αστικής κινητικότητας, σχεδιασμό και εποπτεία δημόσιων συγκοινωνιακών συστημάτων μεταφορών, έξυπνα συστήματα μεταφορών,
                        έρευνες και ανάλυση δεδομένων, μέσα σταθερής τροχιάς, ποιότητα δημοσίων μεταφορών. Έχει επίσης εργαστεί σε πληθώρα συγχρηματοδοτούμενων και μη εθνικών και ευρωπαϊκών
                        έργων και προγραμμάτων (EPTA, ECOTALE, ATTAC, SUMPs- Up, SUNRISE, CIVITAS κα).</p>
                    </div>
                </div>
                <div class="weekends-mentor-container">
                    <div class="col-md-2 weekends-mentor">
                     <img class="weekends-mentor-pic" src="/static/main/img/weekends/mobility/emanos.jpg">
                    </div>
                    <div class="col-md-10">
                      <h3>Ευστράτιος Μάνος</h3></br>
                      <h4>Αρχιτέκτων - Πολεοοδόμος</h4></br>
                      <a href="#coach-4" class="btn-mentor" data-toggle="collapse">Βιογραφικό</a>
                      <p id="coach-4" class="weekends-mentor-bio small collapse">Αρχιτέκτων - Πολεοδόμος, MSc Περιβαλλοντικού Σχεδιασμού, εμπειρογνώμονας σε θέματα Ολοκληρωμένης Αστικής Ανάπτυξης και χρηματοοικονομικής μηχανικής για την Αστική Ανάπτυξη,
                      την Χωρική Ανάπτυξη και την Ευρωπαϊκή Εδαφική Συνεργασία. Αποτελεί ιδρυτικό μέλος του Κοινωνικού Καταναλωτικού Συνεταιρισμού BIOSCOOP στην Θεσσαλονίκη και μέλος του Εποπτικού του Συμβουλίου. Ως μέλος της Μόνιμης
                        Επιτροπής Ανταγωνιστικότητας, Επιχειρηματικότητας και Καινοτομίας του ΤΕΕ, τμήμα Κεντρικής Μακεδονίας, προωθεί την νέα και καινοτόμα επιχειρηματικότητα, η οποία κυρίως λαμβάνει χώρα σε αστικά περιβάλλοντα.
                        Ως Πιστοποιημένος Ενεργειακός Επιθεωρητής, ενδιαφέρεται για την προώθηση της εξοικονόμησης ενέργειας και των ΑΠΕ. Είναι Πιστοποιημένος Εκπαιδευτής Ενηλίκων στο Εθνικό Κέντρο Δημόσιας Διοίκησης και Αυτοδιοίκησης (ΕΚΔΔΑ),
                        σε θέματα Πολιτικής Συνοχής της Ευρωπαϊκής Ένωσης, Επιχειρησιακού Σχεδιασμού και Αστικής Ανάπτυξης.</p>
                    </div>
                </div>
                <div class="weekends-mentor-container">
                    <div class="col-md-2 weekends-mentor">
                     <img class="weekends-mentor-pic" src="/static/main/img/weekends/mobility/ndamianos.jpg">
                    </div>
                    <div class="col-md-10">
                      <h3>Νίκος Δαμιανός</h3></br>
                      <h4>Αντιπρόεδρος Link Technologies A.E.</h4></br>
                      <a href="#coach-5" class="btn-mentor" data-toggle="collapse">Βιογραφικό</a>
                      <p id="coach-5" class="weekends-mentor-bio small collapse">Ο Νίκος Δαμιανός είναι Αντιπρόεδρος στη Link Technologies Α.Ε, και μέλος του Διοικητικού Συμβουλίου. Έχει τρέξει πολλαπλά έργα ITS
                      στην Ελλάδα αλλά και στο εξωτερικό, όπως το έργο "Παρακολούθηση Στόλου και Ενημέρωση Επιβατών" για το
                      συγκοινωνιακό οργανισμό λεωφορείων SM στη Σεμπού, Φιλιππίνες, και "Παρακολούθηση Στόλου, Ενημέρωση Επιβατών, και Αυτόματο
                      Σύστημα Φαναριών" για τον οργανισμό BRT στη Μπανγκόκ,Ταϊλάνδη. Ταυτόχρονα δραστηριοποιείται στο χώρο της έρευνας,
                      οργανώνοντας διεθνείς κοινοπραξίες για Ευρωπαϊκά έργα.</p>
                    </div>
                </div>
              </div>
              <div id="schedule">
               </br></br>
                    <h2>Πρόγραμμα</h2>
                    <button class="accordion weekends-schedule-header" id="red">Παρασκευή 28 Σεπτεμβρίου</button>
                     <div class="panel">
                        <div class="panel-inner">
                          <div class="weekends-schedule-content">
                              <div class="weekends-schedule-content-item">
                                  <div class="weekends-schedule-content-item-time">5:30πμ</div>
                                  <div class="weekends-schedule-content-item-what">Προσέλευση</div>
                              </div>
                              <div class="weekends-schedule-content-item">
                                  <div class="weekends-schedule-content-item-time">6:00πμ</div>
                                  <div class="weekends-schedule-content-item-what">Εναρκτήρια ομιλία</div>
                              </div>
                              <div class="weekends-schedule-content-item">
                                  <div class="weekends-schedule-content-item-time">6:15πμ</div>
                                  <div class="weekends-schedule-content-item-what">Παρουσίαση συμμετεχόντων  <small> - 1’ ομιλία από το κάθε συμμετέχοντα</small></div>
                              </div>
                              <div class="weekends-schedule-content-item">
                                  <div class="weekends-schedule-content-item-time">6:45πμ</div>
                                  <div class="weekends-schedule-content-item-what">Θεματικές ομιλίες στον τομέα των μεταφορών</div>
                              </div>
                              <div class="weekends-schedule-content-item">
                                  <div class="weekends-schedule-content-item-time">7:15πμ</div>
                                  <div class="weekends-schedule-content-item-what">Παρουσίαση ιδέων &amp; δημιουργία ομάδων</div>
                              </div>
                              <div class="weekends-schedule-content-item">
                                  <div class="weekends-schedule-content-item-time">8:00πμ</div>
                                  <div class="weekends-schedule-content-item-what">Ελαφρύ δείπνο</div>
                              </div>
                          </div>

                        </div>
                     </div>
                    <button class="accordion weekends-schedule-header" id="black">Σάββατο 29 Σεπτεμβρίου</button>
                     <div class="panel">
                       <div class="panel-inner">
                        <div class="weekends-schedule-content">
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">10:00πμ</div>
                                <div class="weekends-schedule-content-item-what">Προσέλευση &amp; πρωϊνό</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">11:00πμ</div>
                                <div class="weekends-schedule-content-item-what">Σχεδιασμός λύσης</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">12:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Συζήτηση με τους μέντορες</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">2:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Γεύμα</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">3:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Υλοποίηση λύσης</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">7:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Ελαφρύ δείπνο</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">10:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Λήξη ημέρας</div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <button class="accordion weekends-schedule-header" id="blue">Κυριακή 30 Σεπτεμβρίου</button>
                     <div class="panel">
                       <div class="panel-inner">
                        <div class="weekends-schedule-content">
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">10:00πμ</div>
                                <div class="weekends-schedule-content-item-what">Προσέλευση &amp; πρωϊνό</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">11:00πμ</div>
                                <div class="weekends-schedule-content-item-what">Υλοποίηση λύσης</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">12:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Συζήτηση με τους μέντορες</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">2:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Γεύμα</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">3:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Προετοιμασία τελικής παρουσίασης</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">5:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Τελική παρουσίαση</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">7:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Ελαφρύ δείπνο</div>
                            </div>
                            <div class="weekends-schedule-content-item">
                                <div class="weekends-schedule-content-item-time">8:00μμ</div>
                                <div class="weekends-schedule-content-item-what">Τελετή λήξης</div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
              <div id="judges">
               </br></br>
               <h2>Κριτές</h2>
              </div>
              <div id="prizes">
               </br></br>
               <h2>Βραβεία</h2>
                    <ul>
                        <li>1<sup>ο</sup> Βραβείο – 1000€</li>
                        <li>2<sup>ο</sup> Βραβείο – 500€</li>
                        <li>3<sup>ο</sup> Βραβείο – 200€</li>
                    </ul>
                    <h2>Κριτήρια αξιολόγησης</h2>
                    <ul>
                        <li>Feasibility</li>
                        <li>Usability</li>
                        <li>Prototype</li>
                        <li>Complexity</li>
                        <li>Interoperability</li>
                        <li>Maintainability</li>
                    </ul>
                </div>
              <div id="sponsors">
               </br></br>
               <h2>Χορηγοί</h2>
               <img class="weekends-sponsor" src="/static/main/img/weekends/mobility/OSETH-logo.png">
               <img class="weekends-sponsor" src="/static/main/img/weekends/mobility/link-logo.png">
               <img class="weekends-sponsor" src="/static/main/img/weekends/mobility/okthess-logo.png">
              </div>
              <div class="form" id="register">
                  <form action="{% url 'main:weekends' %}" method="post">
                      {% csrf_token %}
                      {{ form.non_field_errors }}
                      </br></br>
                      <h4>Αίτηση συμμετοχής</h4>
                      <div class="form-group">
                          <label for="id_first_name">
                              Όνομα
                          </label>
                          <textarea name="first_name" cols="50" rows="1" class="form-control" required="required" id="id_first_name"></textarea>
                      </div>
                      <div class="form-group">
                          <label for="id_last_name">
                              Επώνυμο
                          </label>
                          <textarea name="last_name" cols="50" rows="1" class="form-control" required="required" id="id_last_name"></textarea>
                      </div>
                      <div class="form-group">
                          <label for="id_email">
                              email επικοινωνίας
                          </label>
                          <input type="email" name="email" class="form-control" maxlength="100" required="required" id="id_email">
                      </div>
                      <div class="form-group">
                          <label for="id_specialization">
                              Εξειδίκευση π.χ. Transport engineer, developer κτλ
                          </label>
                          <textarea name="specialization" cols="50" rows="1" class="form-control" required="required" id="specialization"></textarea>
                      </div>
                      <div class="form-group">
                          <label for="id_accept_terms">
                              Αποδέχομαι τους όρους των διοργανωτών
                          </label>
                        <input type="checkbox" name="accept_terms" class="form-control" required="required" id="id_accept_terms">
                      </div>
                      <button id="register" type="submit" class="btn-form" onclick="ga('send', 'event', 'weekend', 'submission', {'NonInteraction': 1});">{% trans 'Submit' %}</button>
                      <script type="text/javascript">
                          var button = document.getElementById('register');
                          button.addEventListener(
                          'click',
                          function() {
                            fbq('track', 'WeekendRegistration');
                          },
                          false
                          );
                      </script>
                  </form>
                </div>
            </div>
            <script>
                var accordionElems = document.getElementsByClassName('accordion');
                var i = 0;
                for (i = 0; i < accordionElems.length; i++) {
                    accordionElems[i].onclick = function () {
                        this.classList.toggle('active');
                        var panel = this.nextElementSibling;
                        if (panel.style.maxHeight) {
                            panel.style.maxHeight = null;
                        } else {
                            panel.style.maxHeight = panel.scrollHeight + 'px';
                        }
                    }
                }

                function openPanel() {
                    var elemId = document.location.hash.slice(1);
                    var hashElem = document.getElementById(elemId);
                    hashElem.click();
                }
                window.addEventListener('hashchange', openPanel, false);
                openPanel();
            </script>
        </div>
    </div>
{% endblock %}
