html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', Arial, Tahoma;
  font-weight: 300;
  font-size: 16px;
  color: #000;
}

p {
  line-height: 1.58;
  letter-spacing: -.003em;
  outline: 0;
  word-break: break-word;
  word-wrap: break-word;
}

h1 {
  display: inline-block;
  background: #231f20;
  margin-top: 0px;
  letter-spacing: .005em;
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  padding: 15px 20px;
}

h1.blue {
  background: #1c599b;
}

h1.yellow {
  background: #f9d94f;
  color: #000;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}

h3 {
  display: inline-block;
  clear: right;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background: #231f20;
  padding: 10px 20px;
  margin-top: 10px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
}

h3.yellow{
  background: #f9d94f;
  color: #000;
}

h3.blue{
  background: #1c599b;
}

h4 {
  padding: 10px 20px;
  display: inline-block;
  font-size: 16px;
}

h4.blue {
  background: #1c599b;
  color: #fff;
}

h4.yellow {
  background: #f9d94f;
}

address {
  margin-top: 57px;
}

address > abbr {
  font-size: 22px;
}

.nav-stacked > li+li {
  margin-top: 0;
}

.navbar {
  font-weight: 100;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  -webkit-border: 0;
  -moz-border: 0;
  border: 0;
}

.navbar-default {
  background: #fff;
  padding-top: 20px;
}

.navbar-brand {
  padding: 0 0px;
}

.navbar-brand > img {
  height: inherit;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
}

.navbar-default .navbar-nav > li:nth-child(odd):hover {
  background-color: #f9d94f;
}

.navbar-default .navbar-nav > li:nth-child(even):hover {
  background-color: #1c599b;
}

.navbar-default .navbar-nav > li:nth-child(even) > a:hover {
  color: #fff
}

.navbar-default .navbar-nav > li:nth-child(odd).active > a {
  color: #000;
  background-color: #f9d94f;
}

.navbar-default .navbar-nav > li:nth-child(even).active > a {
  color: #fff;
  background-color: #1c599b;
}

.navbar-default .navbar-nav > li:nth-child(odd).active > a:hover {
  color: #000;
  background-color: #f9d94f;
}

.navbar-default .navbar-nav > li:nth-child(even).active > a:hover {
  color: #fff;
  background-color: #1c599b;
}

.navbar-default .navbar-nav > li:nth-child(odd).active > a:focus {
  color: #000;
  background-color: #f9d94f;
}

.navbar-default .navbar-nav > li:nth-child(even).active > a:focus {
  color: #fff;
  background-color: #1c599b;
}

.dropdown-menu > li > a {
  margin-top: 1px;
  padding: 3px 10px;
  color: #000;
  font-weight: 200;
  font-size: 14px;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover {
  background-color: #f9d94f;
}

.navbar-default .navbar-nav > .open > a {
  background-color: #f9d94f;
}

.navbar-default .navbar-nav > .open > a:focus {
  background-color: #fff;
}

.navbar-default .navbar-nav > .open > a:hover {
  background-color: #f9d94f;
}

.glyphicon {
  font-size: 12px;
  margin-right: 4px;
}

.glyphicon-search, .glyphicon-calendar {
  font-size: 18px;
}

.navbar-default .navbar-nav > .navbar-language > a {
  background: #c7549c;
  color: #fff;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 8px;
  margin-left: 10px;
}

.navbar-default .navbar-nav > .navbar-language > a:hover,
.navbar-default .navbar-nav > .navbar-language > a:focus {
  background: #aa3c82;
  color: #fff;
}

.navbar-default .navbar-nav > li.navbar-language:nth-child(even):hover {
  background: inherit;
}

.btn-simple {
  background-color: #eee;
  color: #444;
  padding: 14px;
  border: none;
  outline: 0;
}

.btn-simple:hover {
  background-color: #e8e8e8;
}

.btn-red {
  display: inline-block;
  color: #fff;
  background: #ee4031;
  padding: 5px 15px;
  font-size: 14px;
  text-decoration: none;
}

.btn-red.alt {
  text-align: right;
  margin-right 5%;
  margin-top: 15px;
}

.btn-red:hover {
  color: #fff;
  text-decoration: none;
  background: #d82c20;
}

.btn-yellow {
  display: inline-block;
  color: #000;
  background: #f9d94f;
  padding: 5px 15px;
  font-size: 14px;
  text-decoration: none;
}

.btn-yellow:hover {
  color: #000;
  text-decoration: none;
  background: #ecc732;
}

.btn-blue {
  color: #fff;
  background: #1c599b;
  padding: 5px 15px;
  font-size: 14px;
  text-decoration: none;
}

.btn-blue:hover {
  color: #fff;
  text-decoration: none;
  background: #0f4f92;
}

.btn-large{
  font-size: 18px;
  padding: 13px 18px;
}


.btn-black {
  color: #fff;
  background: #231f20;
  padding: 10px 20px;
  display: inline-block;
  font-size: 16px;
}

.btn-black:hover {
  color: #fff;
  background: #333;
  text-decoration: none;
}

.btn-small {
  padding: 3px 13px;
  font-size: 12px;
  border: none;
  margin-top: 10px;
}

.btn-header {
  margin-left: 20px;
  margin-top: 10px;
}

.btn-form {
  color: #000;
  background: #f9d94f;
  padding: 5px 15px;
  font-size: 14px;
  text-decoration: none;
  border: none;
}

.btn-form:hover {
  color: #000;
  text-decoration: none;
  background: #ecc732;
}

.btn-apply {
  text-decoration: none;
  color: #000;
  background: #f9d94f;
  padding: 3px 13px;
  font-size: 12px;
  border: none;
  margin-top: 10px;
  margin-right: 10px;
}

.btn-apply:hover{
  color: #fff;
  text-decoration: none;
  background: #0f4f92;
}

.form-control {
  box-shadow: none;
  border-color: #ddd;
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #f9d94f;
}

.desc {
  margin-top: 5%;
  font-size: 17px;
  width: 80%;
  line-height: 1.72;
}

.slider-img {
  width: 100%;
  user-select: none;
}

.slider-arrow-right {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 30px;
  background: #fff;
  color: #000;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.1s;
  user-select: none;
}

.slider-arrow-right:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
}

.slider-arrow-right > i {
  font-size: 22px;
}

.slider-text {
  display: inline-block;
  background: #000;
  color: #fff;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  position: relative;
  top: -62px;
  left: 10px;
}

.input-small {
  margin-top: 7px;
  width: 70%;
  line-height: 1.72rem;
  font-size: 12px;
  padding-left: 5px;
  border: 1px solid #ddd;
}

.index-land {
  width: 90%;
}

.index-land-content {
  margin-bottom: 50px;
}

.index-blog-label {
  padding-top: 30px;
  text-align: center;
}

.index-blog {
  width: 100%;
  background: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.index-blog > .row {
  margin-top: 20px;
}


.index-blog-item {
  text-align: center;
}

.index-blog-item-link:hover {
  text-decoration: none;
}

.index-blog-item-para {
  min-height: 100px;
  margin-bottom: 20px;
  color: #000;
}

.index-blog-item-img {
  height: 228px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-blog-item-img > img {
  width: auto;
  max-width: 300px;
  max-height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .index-blog-item-img > img {
    width: 210px;
  }
}

@media (min-width: 992px) {
  .index-blog-item-img > img {
    width: auto;
    max-width: 300px;
    max-height: 210px;
  }
}

.index-events-label {
  text-align: center;
  margin-top: 30px;
}

.index-events {
  text-align: center;
  margin-top: 20px;
}

.index-events-content {
  padding-top: 10px;
}

.index-events-content-single {
  padding-top: 20px;
  padding-bottom: 15px;
}

.index-events-content-single:hover {
  text-decoration: none;
}

.index-events-content-single-name {
  display: inline-block;
  font-size: 14px;
  padding: 5px 15px;
  font-weight: 500;
  background: #231f20;
  color: #fff;
}

.index-events-content-single-name:hover {
  text-decoration: none;
  color: #fff;
}

.index-events-content-single-date {
  color: #888;
  font-size: 12px;
  margin-top: 5px;
}

.index-events-content-single-desc {
  font-size: 14px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}

.site-footer {
  width: 100%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  background-color: #fff;
  border-top: 3px solid #f9d94f;
}

.site-footer-content {
  margin-left: 5%;
  margin-right: 5%;
}

.site-footer-content a:hover {
  text-decoration: none;
}

#social {
  margin-bottom: 2px;
  margin-left: 5%;
}

#social img {
  height: 50px !important;
  margin-right: 0px;
  width: auto;
  border-radius: 3px;
  margin-top: -29px;
  margin-bottom: 25px;
}

@media (max-width: 991px) {
  #social img {
    height: 30px !important;
    margin-top: -32px;
    margin-bottom: 10px;
  }
}

@media (max-width: 300px) {
  #social img {
    height: 25px !important;
    margin-top: -32px;
    margin-bottom: 5px;
  }
}

h5 {
  margin-top: 13px;
  margin-bottom: 2px;
  font-weight: 400;
}

.site-footer > hr {
  margin-top: 4px;
  margin-bottom: 5px;
  color: #000;
}

@media(max-width:768px) {
  hr {
    margin-top: 0px;
    margin-bottom: 1px;
  }
}

#map-outer {
  border: 2px solid #f9d94f;
  border-radius: 3px;
}

#map-container {
  height: 250px;
}

.footer-content-item-img {
  max-height: 70px;
  width: auto;
  margin-right: 4px;
  margin-bottom: 50px;
}

@media (max-width: 380px) {
  .footer-content-item-img {
    max-width: 200px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .footer-content-item-img {
    max-width: 200px;
    height: auto;
  }
}

.footer-content-author {
  text-align: right;
  font-size: 10px;
  color: #2ecc40;
  padding-right: 10px;
}

.footer-content-author > a {
  color: #2ecc40;
}

/* blog */
.blog {
  width: 90%;
}

.blog-post {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog-post-image {
  margin-top: 10px;
  max-width: 100%;
}

@media (min-width: 548px) {
  .blog-post-image {
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .blog-post-image {
    max-width: 100%;
  }
}

.blog-post-teaser > p {
  font-size: 14px;
  margin-bottom: 1%;
}

.blog-post-title {
  font-weight: 500;
  margin-bottom: 1%;
}

h6.blog-post-meta {
  font-size: 12px;
  margin: 2% 0%;
  font-weight: 300;
}

/* blog:post  */
.post {
  width: 90%
}

.post-content-body {
  margin-top: 20px;
  font-size: 19px;
}

.post-content-meta {
  font-size: 12px;
}

.post-content-image {
  width: 80%;
  padding-right: 20px;
  padding-bottom: 20px;
}

.post-content img {
  max-width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .post-content-image {
    width: 300px;
    float: left;
  }
}

.post-content-body-meta {
  clear: both;
  padding-top: 20px;
}

/* blog:post:share */
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.share-buttons img{
  width: 32px;
}

/* resources */
.resources {
  width: 90%;
}

.resources h1 {
  margin-left: 5px;
}

.resources h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.resources-item {
  margin-top: 10px;
  background: #f5f5f5;
  padding: 20px;
  margin-bottom: 10px;
}

.resources-item-title {
  display: block;
  font-weight: 600;
  margin-bottom: 7px;
}

/* events */
.events {
  width: 90%;
}

.events-single {
  margin-bottom: 70px;
  margin-top: 20px;
}

.events-single-dimmed {
  opacity: 0.4;
}

.events-single img {
  max-width: 100%;
  max-height: 185px;
}

.events-single-para {
  font-size: 12px;
  height: 72px;
  margin-bottom: 14px;
}

.events-single-title {
  margin-top: 16px;
  margin-bottom: 10px;
}

.events-single-title > a {
  font-size: 20px;
  color: #000;
}

.events-single-data-time,
.events-single-data-date,
.events-single-data-link,
.events-single-data-organizer {
  display: inline-block;
  padding: 1px 4px;
  font-size: 12px;
}

.events-single-data-time,
.events-single-data-organizer {
  background: #000;
  color: #fff;
}

.events-single-data-link,
.events-single-data-date {
  background: #bbb;
  color: #000;
  float: right;
}

.events-single-data-link > a {
  color: #000;
  padding-left: 7px;
}

/* about */
.about {
  width: 90%;
}

.about-accordion {
  margin-top: 10px;
}

.about-sidebar {
  margin-right: 20%;
}

@media (min-width: 992px) {
  .about-sidebar {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .about-sidebar {
    margin-right: 20%;
  }
}

button.accordion {
  display: inline-block;
  width: 100%;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

button.accordion.active,
button.accordion:hover {
  background-color: #ddd;
}

button.accordion:after {
  content: '\002b';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: "\2212";
}

.panel {
  overflow: hidden;
  border: none;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.panel > .panel-inner {
  padding: 20px;
  border: 1px solid #eee;
}

/* sidebar modules for boxing content */
.sidebar-module {
  padding: 0px;
  margin: 0px;
}

.sidebar-module-inset {
  padding: 0px;
  max-height: 330px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-bottom: 30px;
  overflow-y: scroll;
}

.sidebar-module-inset ul {
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

.sidebar-module-inset ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  border-bottom: 1px solid #cacaca;
}

.sidebar-module-inset ul li:last-child {
  border-bottom: none;
}

.sidebar-module-inset ul li a {
  font-size: 14px;
  text-decoration: none;
  font-weight: 300;
}

.sidebar-module-inset .sidebar-meetups ul li a {
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.sidebar-module .panel ul {
  list-style-type: circle;
  padding-left: 35px;
}

/* program tabs */
.program {
  width: 90%;
}

.program-main-filter {
  float: right;
  text-align: right;
  width: 100%;
  margin-top: -65px;
  margin-bottom: 50px;
}

.program-main-filter i {
  font-size: 14px;
  margin-left: 5px;
}

.program-main-filter-industries {
  margin-top: 30px;
  user-select: none;
}

.program-main-filter-industries-item {
  display: inline-block;
  color: #666;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background: #fff;
  user-select: none;
}

.program-main-filter-industries-item:hover {
  cursor: pointer;
  color: #000;
  text-decoration: underline;
}

.program-main-company {
  margin-bottom: 40px;
}

.program-main-company-name {
  font-weight: 600;
  margin-top: 6px;
  margin-bottom: 3px;
  font-size: 20px;
}

.program-main-company-name a {
  color: #000;
}

.program-main-company-image {
  height: 200px;
}

.program-main-company-image a {
  margin-top: auto;
}

.program-main-company-image img {
  max-width: 100%;
  max-height: 100%;
}

.program-main-company-desc {
  height: 100px;
}

@media (max-width: 767px) {
  .program-sidebar {
    margin-top: 40px;
  }
}

.program-sidebar-meetup {
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.program-sidebar-meetup:hover {
  border-color: #d82c20;
}

.program-sidebar-meetup h4 {
  background: #ee4031;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}

.program-sidebar-meetup h4:hover {
  background: #d82c20;
}

.program-sidebar-meetup a {
  color: #000;
}

.program-sidebar-meetup a:hover {
  text-decoration: none;
}

.program-sidebar-meetup-content {
  color: #333;
}

.program-sidebar-box {
  font-size: 15px;
  background: #f9f9f9;
  padding-top: 17px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cacaca;
}

.program-sidebar-tabs-list > li {
  border-bottom: 1px solid #cacaca;
}

.program-sidebar-tabs-list > li > a:hover,
.program-sidebar-tabs-list > li > a:focus {
  background: #1c599b;
  color: #fff;
  border-radius: 0px;
}

.program-sidebar-tabs-list > li.active > a:focus,
.program-sidebar-tabs-list > li.active > a:hover,
.program-sidebar-tabs-list > li.active > a {
  background: #1c599b;
  color: #fff;
  border-radius: 0px;
  margin-top: 4px;
}

.program-sidebar-tabs-elem > a {
  border-radius: 2px;
  color: #000;
}

.separator {
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.program-sidebar-regulation {
  margin-top: 40px;
  text-align: center;
}

.program-sidebar-regulation > h4 > a {
  color: #000;
}

.program-main-mentor {
  text-align: center;
  margin-bottom: 50px;
}

.program-main-mentor-name {
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.program-main-mentor-image {
  height: 100px;
  border-radius: 10%;
}

.program-sidebar-about,
.program-sidebar-contribute {
  margin-top: 0px;
}

/* meetup */
.meetup {
  width: 90%;
}

.meetup-body {
  padding-left: 60px;
  padding-right: 60px;
}

@media (max-width: 768px) {
  .meetup-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.meetup-body-jumbotron {
  background-image: url(/static/main/img/okthess-meetup.jpg);
  background-size: 1000px;
  background-position: center;
  min-height: 500px;
  text-align: center;
}

.meetup-body-jumbotron > h1 {
  background: #ee4031;
  color: #fff;
  font-size: 48px;
  margin-top: 10%;
}

.meetup-body-jumbotron-subtitle-line {
  background: #fff;
  display: inline-block;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.meetup-body-content {
  margin-top: 40px;
}

.meetup-body-content-body,
.meetup-body-content-body > p {
  font-size: 18px;
}

.meetup-body-content-body-meta {
  display: flex;
}

.meetup-body-content-body-meta-title {
  display: inline-block;
}

.meetup-body-content-body-meta-info {
  display: inline-block;
  margin-left: auto;
  text-align: right;
}

.meetup-body-content-body-meta-info-date {
  background: #231f20;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.meetup-body-content-body-meta-info-time {
  background: #231f20;
  color: #fff;
  margin-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.meetup-body-content-side {
  background: #ee4031;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.meetup-body-content-side-title > i {
  font-size: 20px;
}

.meetup-body-content-side-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 25px;
}

.meetup-body-content-side-agenda-title {
  font-size: 22px;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

.meetup-body-content-side-agenda-title > i {
  font-size: 16px;
}

/* contact */
.contact {
  width: 90%;
}

#contact-map-outer {
  border: 2px solid #f9d94f;
  border-radius: 3px;
}

#contact-map-container {
  height: 500px;
}
